// Color 
$color-white: #fff;
$color-black: #000;
$color-yellow: #ffd017;
	$color-dark-yellow: #ef8900;
$color-pink: #fde8b8;
$color-light-blue: #f7f7f7;
$color-orange: #ff5600;
$color-purple: #940084;
$color-green: #408a00;



// Fonts 
$roboto: 'Roboto', sans-serif;
$pdf: 'PF Din Text Cond Pro', sans-serif;
$agola: 'PF Agola', sans-serif;

// shadow
$shadow: 2px 2px 2px rgba(0,0,0,0.2);