@import "_var.scss";
@import "_mixins.scss";
@import "normalize.scss";
@import "fonts.scss";
@import "components.scss";


.flex{
	@include display(flex);
}
.flex-center{
	@include justify-content(center);
}
.flex-between{
	@include justify-content(space-between);
}
.flex-items{
	@include align-items(center);
}
.flex-column{
	@include flex-direction(column);
}
.flex-wrap{
	@include flex-wrap(wrap);
}


h1{
	width: 100%;
	max-width: 980px;
	margin: auto;
	font-family: $pdf;
	font-size: 119px;
	line-height: 1;
	font-weight: 100;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.2);

	span{
		display: block;
		color: $color-yellow;
		font-weight: 400;
	}
}

h3{
	position: relative;
	margin-bottom: 50px;
	font-family: $agola;
	font-weight: 300;
	font-size: 44px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: -.6px;
	font-weight: 300;
	color: $color-black;

	&:after{
		content: '';
		position: absolute;
		left: 0;
		bottom: -20px;
		background: url('../img/h1-line.png') no-repeat center;
		width: 100%;
		height: 28px;
	}
}

h4{
	position: relative;
	text-align: center;
	margin-bottom: 20px;

	&:after{
		content: '';
		position: absolute;
		left: 50%;
		bottom: 0;
		width: 200px;
		height: 2px;
		background: $color-orange;
		transform: translateX(-50%);
	}
}

h5{
	font-family: $agola;
	font-size: 20px;
	text-transform: uppercase;
	color: $color-orange;
}

h6{
	font-family: $agola;
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
}

// header

.header{
	position: relative;
	background: url('../img/header-bg.png') no-repeat 55% top / cover;
	height: 1055px;
	padding-top: 160px;
	text-align: center;
	color: $color-white;
	z-index: 2;

	.container{
		position: relative;
		height: 100%;
	}

	.btn-wrap{
		margin-top: 40px;
	}
}

// category header

.category{
	background: url('../img/category-bg.png') no-repeat center top / 115% auto;
	padding: 50px 0 110px;
	height: 952px;
	color: $color-white;

	h1{
		font-size: 100px;

		span{
			font-family: $agola;
			font-weight: 300;
			font-size: 120px;
			font-weight: 300;
		}
	}

	&__title{
		width: 60%;
	}

	.btn-wrap{
		position: relative;
		width: 40%;
		height: 300px;
		overflow: inherit;
		background: url('../img/btn-glow.png') no-repeat 80% top;

		.btn{
			margin-top: 120px;
		}
	}

	&__block{
		padding: 0px 0 0;
	}

	.tel{
		justify-content: flex-end;
		padding-right: 100px;

		&__contacts a{
			color: $color-white;
			font-family: $roboto;
			font-weight: 300;
			font-size: 36px;
			text-decoration: none;
			display: block;

			span{
				color: $color-green;
			}
		}
	}

	.lang{
		justify-content: flex-end;
		padding-right: 100px;
		text-transform: uppercase;

		&__link{
			margin-right: 80px;
		}

		&__link a{
			display: block;
			float: left;
			margin: 0 4px;
			width: 24px;
			height: 24px;
			padding: 5px 0;
			border-radius: 50%;
			background: $color-blue;
			font-family: $roboto;
			font-weight: 300;
			color: $color-white;
			font-size: 12px;
			text-decoration: none;
			text-align: center;

			&:hover{
				background: $color-dark-yellow;
			}
		}
	}

	&__text{
		width: 100%;
		max-width: 700px;
		margin: auto;
		font-family: $agola;
		font-style: italic;
		font-size: 21px;
		line-height: 1.5;
		color: $color-light-green;
		text-align: center;
		text-shadow: $shadow;
	}

	.name{
		font-family: $agola;
		font-style: italic;
		text-align: center;
		color: $color-yellow;

		&__text{
			max-width: 500px;
			margin: 10px auto 0;
			font-family: $agola;
			font-style: italic;
			text-align: center;
		}
	}

	&-service{
		margin-top: -200px;
	}
	&-order{
		margin-top: 0 !important;
		background: url("../img/order-bg.png") no-repeat center top / cover !important;
		padding-top: 90px !important;
		color: $color-white;

		h3{
			color: $color-white;

			&:after{
				background: url('../img/line.png') no-repeat center top;
			}
		}

		.item:before{
			color: rgba(255,255,255,.15) !important;
		}
	}

	&-eva{
		margin-top: -150px;
	}

	&-bg{
		margin-top: 0 !important;
	}

	&-call{
		margin-top: 0 !important;
	}
}

// order
.order{
	position: relative;
	margin-top: -160px;
	padding-top: 160px;
	background: url('../img/bg-2.png') no-repeat center top / cover;
	height: 628px;
	z-index: 1;

	.item{
		position: relative;
		width: 33%;
		display: flex;
		align-items: center;

		&:before{
			position: absolute;
			left: 50%;
			font-family: $pdf;
			font-weight: bold;
			font-size: 210px;
			color: $color-pink;
		}

		&:nth-child(1):before {
			content: '1';
		}

		&:nth-child(2):before {
			content: '2';
		}
		&:nth-child(3):before {
			content: '3';
		}
	}

	&__info{
		position: relative;
		font-family: $pdf;
		font-size: 28px;
		text-transform: uppercase;
		z-index: 2;
	}
}

.bg{
	margin-top: -100px;
	background: url('../img/map.png') no-repeat center center / contain;
}

// Карта
.maps{
	padding: 20px 0;
	

	img{
		margin-top: 40px;
		width: 100%;
		height: auto;
		user-select: none;
	}

	&__ul{
		display: flex;
		width: 100%;
	}

	&__list{
		width: 33%;

		> li{
			position: relative;
			padding-left: 25px;
			font-family: $pdf;
			font-size: 28px;
			line-height: 1.7;
			text-transform: uppercase;
			cursor: pointer;

			span:hover{
				color: $color-orange;
			}

			&:before{
				content: '•';
				position: absolute;
				left: 0;
				color: $color-green;
			}
		}

		.sub-menu{
			display: none;
			position: relative;
			color: $color-black;
			font-size: 21px;
			line-height: 1.4;
			padding-left: 20px;

			a{
				color: $color-black;
				text-decoration: none;

				&:hover{
					text-decoration: underline;
				}
			}

			li:before{
				content: '•';
				position: absolute;
				left: 0;
				color: $color-green;


			}

		}
	}
}

// service
.service{
	position: relative;
	padding: 40px 0;


	.container{
		overflow: inherit;
	}

	h4 span{
		color: $color-orange;
	}

	.item{
		position: relative;
		width: 33%;
		max-width: 370px;
		min-height: 180px;
		margin: 20px 0;
		padding: 10px;
		background: rgba(255,255,255,.6);
		border: 1px solid $color-orange;


		&:before{
			content: '';
			position: absolute;
			right: -7px;
			bottom: -18px;
			background: url('../img/shadow-block.png') no-repeat;
			width: 100%;
			height: 185px;

		}

		&__icon{
			padding-right: 10px;
		}

		h5{
			text-align: left;
			position: static;
			line-height: 1;
			margin-bottom: 10px;

			&:after{
				display: none;
			}
		}
	}
	
	&__info{
		max-width: 1000px;
		margin: 0 auto 40px;
		text-align: center;
		font-size: 28px;
		font-family: $pdf;
		font-weight: 400;
	}
}

// cooperation

.coop{
	padding: 120px 0 120px;
	background: url('../img/cooperation-bg.png') no-repeat center top / cover;
	height: 920px;
	font-family: $pdf;


	h3{
		position: inherit;
		font-family: $pdf;
		text-align: center;
		font-size: 37px;
		line-height: 1;
		color: $color-white;
		text-transform: inherit;

		span{
			font-family: $agola;
			font-size: 50px;
			color: $color-yellow;
			display: block;
			text-align: center;
		}
	}

	h1{
		position: relative;
		top: -45px;
		width: 100%;
		max-width: 970px;
		margin: auto;
		font-family: $pdf;
		font-weight: 100;
		font-size: 80px;
		color: $color-white;
		text-align: center;
		line-height: 1;

		span{
			color: $color-white;
			display: block;
			font-size: 110px;
			font-weight: 300;
		}
	}

	&-title{
		position: relative;
		width: 100%;
		max-width: 970px;
		margin: 80px auto 80px;

	}

	.btn-wrap{
		text-align: center;
	}
}

.information{
	position: relative;

	.container{
		padding: 20px 40px;
		overflow: inherit;
		background: $color-white;
		border-radius: 25px;
		border: 2px solid $color-yellow;
		box-shadow: 10px 10px 20px rgba(0,0,0,0.2);
	}
}

// content

.content{

	h4{
		font-size: 37px;
		font-weight: 100;
		text-transform: inherit;
		margin-bottom: 5px;

		&:after{
			display: none;
		}
	}

	h5{
		font-family: $roboto;
		font-weight: normal;
		font-size: 16px;
		color: #ff5600;
		text-transform: inherit;
		text-align: left;

		&:after{
			display: none;
		}
	}

	p{
		margin-bottom: 14px;
	}

	ul{
		padding-left: 30px;

		li{
			position: relative;
			margin-bottom: 14px;

			&:before{
				content: '•';
				font-size: 25px;
				position: absolute;
				left: -18px;
				color: $color-yellow;
			}
		}
	}

}

// form

.form{
	position: relative;
	background: url('../img/form-bg.png') no-repeat center top / cover;
	margin-top: 50px;
	height: 586px;
	padding: 90px 0 0;
	color: $color-black;

	&:after{
		content: '';
		position: absolute;
		bottom: -80px;
		left: 0;
		right: 0;
		width: 100%;
		height: 80px;
		background: url('../img/shadow.png') no-repeat center top;
		pointer-events: none;
		z-index: 4;
		opacity: .3;
	}

	&-text{
		width: 50%;
		padding: 0 30px;
		font-family: $pdf;
		font-weight: 100;
		text-align: right;
		font-size: 50px;
		line-height: 1;
	}

	&-title{
		font-weight: normal;
		text-transform: uppercase;
		margin-bottom: 10px;
		color: $color-orange;
	}

	&-privacy{
		font-family: $pdf;
		text-align: center;
		font-size: 18px;
	}

	&-link{
		width: 50%;

		form{
			width: 100%;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;

			> div{
				width: 100%;
				margin: 10px 0;
				padding: 0 10px;
				text-align: center;
			}

			> div:nth-child(1), > div:nth-child(2){
				width: 50%;
			}

			input, textarea{
				width: 100%;
				padding: 16px 10px;
				font-family: $pdf;
				font-size: 18px;
				color: $color-black;
				background: $color-white;
				border-radius: 8px;
				border: 0px;
			}

			textarea{
				max-width: 565px;
			}

			button{
				position: relative;
				display: inline-block;
				width: 100%;
				max-width: 370px;
				padding: 10px 15px;
				font-family: $pdf;
				font-weight: 400;
				text-transform: uppercase;
				color: $color-white;
				text-decoration: none;
				text-shadow: $shadow;
				border-radius: 50px;
				overflow: hidden;
				text-align: center;
				font-size: 28px;
		        background: linear-gradient(to bottom, #f9b910 0%,#733100 100%); 
				box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
				transition: all .2s ease-out;

				&:hover{
					transform: scale(.9);
				}

				&:after{
					content: '';
					position: absolute;
					left: -30px;
					top: -30px;
					width: 180px;
					height: 100px;
					transform: rotate(15deg);
					background: linear-gradient(to bottom, #fcc513 0%,#884301 100%);
				}

				&:before{
					content: '';
					position: absolute;
					left: 5px;
					top: 3px;
					bottom: 3px;
					right: 5px;
					border-radius: 50px;
					opacity: .1;
					background: linear-gradient(to bottom, rgba(255,255,255,0.35) 0%,rgba(255,255,255,0.23) 47%,rgba(255,255,255,0.27) 100%);
				}

				span{
					position: relative;
					z-index: 10;
					display: block;
					text-align: center;
				}
			}

		}
	}
}

// about
.about{
	margin-top: -50px;
	padding-bottom: 50px;

	h3 span{
		color: $color-orange;
	}

	h2{
		font-family: $agola;
		font-size: 28px;
		text-transform: uppercase;
		border-left: 3px solid $color-dark-yellow;
		padding-left: 20px;

		span{
			color: $color-dark-yellow;
		}
	}

	.item{
		width: 100%;
		padding-bottom: 50px;
		
		&:not(:last-child) {
			background: url('../img/item-shadow.png') no-repeat center bottom;
		}

		&__img{
			position: relative;
			width: 50%;

			img{
				width: 100%;
			}
		}

		&__text{
			width: 50%;
			padding-left: 20px;
			padding-right: 20px;
		}

		&__content{
			margin-top: 20px;

			p{
				margin-bottom: 15px;
			}
		}

		&__count{
			position: absolute;
			left: 7px;
			width: 50px;
			height: 50px;
			background: $color-purple-light;
			text-align: center;
			color: $color-white;
			font-size: 37px;
			border-bottom-right-radius: 20px;
		}
	}
}

// eva
.eva{
	padding: 50px 0;

	.container{
		overflow: inherit;
	}

	&__text{
		padding: 20px;
		border-radius: 20px;
		border: 2px solid #f29f3e;
		box-shadow: 10px 10px 20px rgba(0,0,0,.2);

		p{
			margin-bottom: 10px;
		}
	}
}

// Massage
.massage{
	position: relative;
	background: url('../img/bg-3.png') no-repeat center top / cover;
	padding: 50px 0 220px;

	.item{
		width: 33%;
		max-width: 330px;
		height: auto;
		margin: 20px;
		border-radius: 10px;

		&__img{
			border-top-left-radius: 20px;
			border-top-right-radius: 20px;
			overflow: hidden;
		}

		&__info{
			position: relative;
			margin-top: -20px;
			padding: 20px;
			background: $color-white;
			border-top-right-radius: 30px;
			border-bottom-left-radius: 30px;
			border-bottom-right-radius: 30px;
		}

		.price{
			position: relative;
			line-height: 2;
			text-transform: uppercase;

			&:after{
				content: '';
				position: absolute;
				left: -20px;
				top: 43px;
				width: 3px;
				height: 30px;
				background: #ef8900;
			}

			span{
				font-size: 50px;
				color: $color-purple;
			}
		}

		.btn-yellow{
			display: block;
			margin: auto;
			padding: 3px;
			max-width: 250px;

			&:after{
				left: -60px;
			}

			&:before{
				background: linear-gradient(to bottom, rgba(255,255,255,0.75) 0%,rgba(255,255,255,0.23) 47%,rgba(255,255,255,1));
			}
		}
	}
}

// call

.call{
	position: relative;
	margin-top: -100px;
	background: url('../img/bg-5.jpg') no-repeat center top / cover;
	max-height: 600px;
	overflow: hidden;

	&:after{
		content: '';
		position: absolute;
		bottom: -80px;
		left: 0;
		right: 0;
		width: 100%;
		height: 80px;
		background: url('../img/shadow.png') no-repeat center top;
		pointer-events: none;
		opacity: .3;
	}

	.container{
		overflow: inherit;
	}

	&__img{
		width: 45%;

		img{
			width: 100%;
			max-width: 450px;
			height: auto;
		}
	}
	&__info{
		width: 55%;
		padding: 90px 0;
	}

	&__text{
		align-items: flex-end;
		margin-bottom: 20px;
	}

	&-title{
		width: 100%;
		max-width: 70%;
		font-family: $agola;
		font-size: 78px;
		font-weight: 300;
		line-height: 1;
		color: $color-orange;
		text-transform: uppercase;
	}

	&-descr{
		font-family: $pdf;
		font-size: 30px;
		font-weight: 300;
		text-transform: uppercase;
	}

	&__tel{
		width: 100%;
	}

	&__icon{
		width: 20%;
	}

	.main-tel{
		width: 75%;
		line-height: 1;

		h6{
			position: relative;
			margin-bottom: 15px;
			font-family: $pdf;
			font-weight: 300;
			font-size: 37px;

			&:after{
				content: '';
				position: absolute;
				right: 0;
				top: 50%;
				width: 65%;
				height: 2px;
				background: #87c51c;
			}
		}

		p{
			position: relative;
			font-family: $pdf;
			font-size: 89px;
		}

		.tel1:after{
			content: '';
			position: absolute;
			right: 0;
			top: -32px;
			width: 2px;
			height: 120px;
			background: #87c51c;
		}
		.tel1:before{
			content: '';
			position: absolute;
			bottom: -1px;
			right: 0;
			width: 50px;
			height: 2px;
			background: #87c51c;
		}

		span{
			display: inline-block;
			color: $color-orange;
		}
	}
}


.pre-footer{
	position: relative;
	padding: 40px 0;
	background: $color-light-blue;

	&:after{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 80px;
		background: url('../img/shadow.png') no-repeat center top;
		pointer-events: none;
		z-index: 4;
		opacity: .3;
	}

	.container{
		overflow: inherit;
	}

	h4{
		font-family: $pdf;
		font-weight: 300;
		text-transform: uppercase;
		font-size: 22px;
		padding-bottom: 10px;

		&:after{
			background: $color-orange;
		}

	}

	&__list{
		width: 50%;

		li{
			position: relative;
			width: 33%;
			float: left;
			padding-left: 10px;
			line-height: 2;

			&:before{
				content: '•';
				position: absolute;
				left: 0;
				color: #d52b1e;
			}

			a{
				color: $color-black;
				text-decoration: none;

				&:hover{
					text-decoration: underline;
				}
			}
		}
	}

	&__info{
		width: 50%;
		align-items: flex-end;

		.text{
			text-align: center;

			&-title{
				font-family: $pdf;
				margin: 20px 0;
				font-size: 28px;
				font-weight: 300;
				text-transform: uppercase;
			}
		}

		.count{
			display: inline-block;
			font-family: $pdf;
			font-size: 68px;
			font-weight: 300;
			line-height: 1.2;
			background: $color-purple;
			color: $color-white;
			padding: 0 20px;
			border: 1px solid $color-white;
			box-shadow: 10px 10px 20px rgba(0,0,0,0.2);
		}
	}

	.copyright{
		margin: 30px 0 0;
		font-family: $roboto;
		font-weight: 300;
		text-align: center;
		font-size: 14px;
	}
}

// footer
.footer{
	background: $color-green;
	padding: 10px 0;
	text-align: center;

	.container{
		position: relative;
		overflow: inherit;
	}

	&-info{
		width: 100%;
		max-width: 900px;
		margin: auto;
	}

	p{
		padding: 0 10px;
		font-family: $pdf;
		font-size: 28px;
		text-transform: uppercase;
		color: $color-white;

		img{
			position: relative;
			top: -6px;

		}
	}

	.arrow{
		position: absolute;
		right: 80px;
		top: -55px;
		// transform: translateX(50%);
	}
}


//      MEDIA

@import "media.scss";