@charset "UTF-8";
/*
	
	Author: Dmitriy Gormash
	Github: https://github.com/kanonir14
	Twitter: @kanonir
	
*/
* {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
nav, output, ruby, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html, body {
  width: 100%;
  height: 100%;
  background: transparent;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #000;
  line-height: 1.4;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background: none;
  border: 0px;
  cursor: pointer;
}

img, button, a, input, textarea {
  outline: none;
}

img {
  vertical-align: bottom;
}

input::-webkit-input-placeholder {
  color: #000;
}

input::-moz-placeholder {
  color: #000;
}

/* Firefox 19+ */
input:-moz-placeholder {
  color: #000;
}

/* Firefox 18- */
input:-ms-input-placeholder {
  color: #000;
}

strong {
  font-weight: bold;
}

.container {
  width: 1170px;
  height: auto;
  overflow: hidden;
  margin: auto;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSansRegular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

/* roboto-300 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-v18-latin_cyrillic-300.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Light"), local("Roboto-Light"), url("../fonts/roboto-v18-latin_cyrillic-300.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v18-latin_cyrillic-300.woff2") format("woff2"), url("../fonts/roboto-v18-latin_cyrillic-300.woff") format("woff"), url("../fonts/roboto-v18-latin_cyrillic-300.ttf") format("truetype"), url("../fonts/roboto-v18-latin_cyrillic-300.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-300italic - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/roboto-v18-latin_cyrillic-300italic.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Light Italic"), local("Roboto-LightItalic"), url("../fonts/roboto-v18-latin_cyrillic-300italic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v18-latin_cyrillic-300italic.woff2") format("woff2"), url("../fonts/roboto-v18-latin_cyrillic-300italic.woff") format("woff"), url("../fonts/roboto-v18-latin_cyrillic-300italic.ttf") format("truetype"), url("../fonts/roboto-v18-latin_cyrillic-300italic.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v18-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto-v18-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v18-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v18-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v18-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v18-latin_cyrillic-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-italic - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/roboto-v18-latin_cyrillic-italic.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Italic"), local("Roboto-Italic"), url("../fonts/roboto-v18-latin_cyrillic-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v18-latin_cyrillic-italic.woff2") format("woff2"), url("../fonts/roboto-v18-latin_cyrillic-italic.woff") format("woff"), url("../fonts/roboto-v18-latin_cyrillic-italic.ttf") format("truetype"), url("../fonts/roboto-v18-latin_cyrillic-italic.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v18-latin_cyrillic-900.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Black"), local("Roboto-Black"), url("../fonts/roboto-v18-latin_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v18-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v18-latin_cyrillic-900.woff") format("woff"), url("../fonts/roboto-v18-latin_cyrillic-900.ttf") format("truetype"), url("../fonts/roboto-v18-latin_cyrillic-900.svg#Roboto") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: 'PF Din Text Cond Pro';
  src: url("../fonts/PFDinTextCondPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PF Din Text Cond Pro';
  src: url("../fonts/PFDinTextCondPro-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'PF Din Text Cond Pro';
  src: url("../fonts/PFDinTextCondPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'PF Din Text Cond Pro';
  src: url("../fonts/PFDinTextCondPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PF Agola';
  src: url("../fonts/PFAgoraSlabPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.btn {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 370px;
  padding: 10px 15px;
  font-family: "PF Din Text Cond Pro", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  overflow: hidden;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.btn:hover {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.btn:after {
  content: '';
  position: absolute;
  left: -30px;
  top: -30px;
  width: 180px;
  height: 100px;
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
  background: -webkit-gradient(linear, left top, left bottom, from(#fcc513), to(#884301));
  background: -webkit-linear-gradient(top, #fcc513 0%, #884301 100%);
  background: -o-linear-gradient(top, #fcc513 0%, #884301 100%);
  background: linear-gradient(to bottom, #fcc513 0%, #884301 100%);
}

.btn:before {
  content: '';
  position: absolute;
  left: 5px;
  top: 3px;
  bottom: 3px;
  right: 5px;
  border-radius: 50px;
  opacity: .1;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.35)), color-stop(47%, rgba(255, 255, 255, 0.23)), to(rgba(255, 255, 255, 0.27)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.23) 47%, rgba(255, 255, 255, 0.27) 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.23) 47%, rgba(255, 255, 255, 0.27) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.23) 47%, rgba(255, 255, 255, 0.27) 100%);
}

.btn span {
  position: relative;
  z-index: 10;
  display: block;
  text-align: center;
}

.btn-yellow {
  text-align: center;
  font-size: 28px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f9b910), to(#733100));
  background: -webkit-linear-gradient(top, #f9b910 0%, #733100 100%);
  background: -o-linear-gradient(top, #f9b910 0%, #733100 100%);
  background: linear-gradient(to bottom, #f9b910 0%, #733100 100%);
}

.btn-blue {
  position: relative;
  display: block;
  width: 270px;
  height: 80px;
  padding-left: 70px;
  font-family: "PF Din Text Cond Pro", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  line-height: 80px;
  background: #ff5600;
  border-radius: 10px;
  border: 1px solid #fff;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  -webkit-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.btn-blue:hover {
  background: #0584c3;
}

.btn-blue img {
  position: absolute;
  left: 20px;
  top: 20px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.flex-center {
  -webkit-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flex-between {
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flex-items {
  -webkit-align-items: center;
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-column {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.flex-wrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

h1 {
  width: 100%;
  max-width: 980px;
  margin: auto;
  font-family: "PF Din Text Cond Pro", sans-serif;
  font-size: 119px;
  line-height: 1;
  font-weight: 100;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

h1 span {
  display: block;
  color: #ffd017;
  font-weight: 400;
}

h3 {
  position: relative;
  margin-bottom: 50px;
  font-family: "PF Agola", sans-serif;
  font-weight: 300;
  font-size: 44px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -.6px;
  font-weight: 300;
  color: #000;
}

h3:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -20px;
  background: url("../img/h1-line.png") no-repeat center;
  width: 100%;
  height: 28px;
}

h4 {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}

h4:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 200px;
  height: 2px;
  background: #ff5600;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

h5 {
  font-family: "PF Agola", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #ff5600;
}

h6 {
  font-family: "PF Agola", sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
}

.header {
  position: relative;
  background: url("../img/header-bg.png") no-repeat 55% top/cover;
  height: 1055px;
  padding-top: 160px;
  text-align: center;
  color: #fff;
  z-index: 2;
}

.header .container {
  position: relative;
  height: 100%;
}

.header .btn-wrap {
  margin-top: 40px;
}

.category {
  background: url("../img/category-bg.png") no-repeat center top/115% auto;
  padding: 50px 0 110px;
  height: 952px;
  color: #fff;
}

.category h1 {
  font-size: 100px;
}

.category h1 span {
  font-family: "PF Agola", sans-serif;
  font-weight: 300;
  font-size: 120px;
  font-weight: 300;
}

.category__title {
  width: 60%;
}

.category .btn-wrap {
  position: relative;
  width: 40%;
  height: 300px;
  overflow: inherit;
  background: url("../img/btn-glow.png") no-repeat 80% top;
}

.category .btn-wrap .btn {
  margin-top: 120px;
}

.category__block {
  padding: 0px 0 0;
}

.category .tel {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-right: 100px;
}

.category .tel__contacts a {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 36px;
  text-decoration: none;
  display: block;
}

.category .tel__contacts a span {
  color: #408a00;
}

.category .lang {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-right: 100px;
  text-transform: uppercase;
}

.category .lang__link {
  margin-right: 80px;
}

.category .lang__link a {
  display: block;
  float: left;
  margin: 0 4px;
  width: 24px;
  height: 24px;
  padding: 5px 0;
  border-radius: 50%;
  background: #008fd7;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 12px;
  text-decoration: none;
  text-align: center;
}

.category .lang__link a:hover {
  background: #ef8900;
}

.category__text {
  width: 100%;
  max-width: 700px;
  margin: auto;
  font-family: "PF Agola", sans-serif;
  font-style: italic;
  font-size: 21px;
  line-height: 1.5;
  color: #a6d233;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.category .name {
  font-family: "PF Agola", sans-serif;
  font-style: italic;
  text-align: center;
  color: #ffd017;
}

.category .name__text {
  max-width: 500px;
  margin: 10px auto 0;
  font-family: "PF Agola", sans-serif;
  font-style: italic;
  text-align: center;
}

.category-service {
  margin-top: -200px;
}

.category-order {
  margin-top: 0 !important;
  background: url("../img/order-bg.png") no-repeat center top/cover !important;
  padding-top: 90px !important;
  color: #fff;
}

.category-order h3 {
  color: #fff;
}

.category-order h3:after {
  background: url("../img/line.png") no-repeat center top;
}

.category-order .item:before {
  color: rgba(255, 255, 255, 0.15) !important;
}

.category-eva {
  margin-top: -150px;
}

.category-bg {
  margin-top: 0 !important;
}

.category-call {
  margin-top: 0 !important;
}

.order {
  position: relative;
  margin-top: -160px;
  padding-top: 160px;
  background: url("../img/bg-2.png") no-repeat center top/cover;
  height: 628px;
  z-index: 1;
}

.order .item {
  position: relative;
  width: 33%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.order .item:before {
  position: absolute;
  left: 50%;
  font-family: "PF Din Text Cond Pro", sans-serif;
  font-weight: bold;
  font-size: 210px;
  color: #fde8b8;
}

.order .item:nth-child(1):before {
  content: '1';
}

.order .item:nth-child(2):before {
  content: '2';
}

.order .item:nth-child(3):before {
  content: '3';
}

.order__info {
  position: relative;
  font-family: "PF Din Text Cond Pro", sans-serif;
  font-size: 28px;
  text-transform: uppercase;
  z-index: 2;
}

.bg {
  margin-top: -100px;
  background: url("../img/map.png") no-repeat center center/contain;
}

.maps {
  padding: 20px 0;
}

.maps img {
  margin-top: 40px;
  width: 100%;
  height: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.maps__ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.maps__list {
  width: 33%;
}

.maps__list > li {
  position: relative;
  padding-left: 25px;
  font-family: "PF Din Text Cond Pro", sans-serif;
  font-size: 28px;
  line-height: 1.7;
  text-transform: uppercase;
  cursor: pointer;
}

.maps__list > li span:hover {
  color: #ff5600;
}

.maps__list > li:before {
  content: '•';
  position: absolute;
  left: 0;
  color: #408a00;
}

.maps__list .sub-menu {
  display: none;
  position: relative;
  color: #000;
  font-size: 21px;
  line-height: 1.4;
  padding-left: 20px;
}

.maps__list .sub-menu a {
  color: #000;
  text-decoration: none;
}

.maps__list .sub-menu a:hover {
  text-decoration: underline;
}

.maps__list .sub-menu li:before {
  content: '•';
  position: absolute;
  left: 0;
  color: #408a00;
}

.service {
  position: relative;
  padding: 40px 0;
}

.service .container {
  overflow: inherit;
}

.service h4 span {
  color: #ff5600;
}

.service .item {
  position: relative;
  width: 33%;
  max-width: 370px;
  min-height: 180px;
  margin: 20px 0;
  padding: 10px;
  background: rgba(255, 255, 255, 0.6);
  border: 1px solid #ff5600;
}

.service .item:before {
  content: '';
  position: absolute;
  right: -7px;
  bottom: -18px;
  background: url("../img/shadow-block.png") no-repeat;
  width: 100%;
  height: 185px;
}

.service .item__icon {
  padding-right: 10px;
}

.service .item h5 {
  text-align: left;
  position: static;
  line-height: 1;
  margin-bottom: 10px;
}

.service .item h5:after {
  display: none;
}

.service__info {
  max-width: 1000px;
  margin: 0 auto 40px;
  text-align: center;
  font-size: 28px;
  font-family: "PF Din Text Cond Pro", sans-serif;
  font-weight: 400;
}

.coop {
  padding: 120px 0 120px;
  background: url("../img/cooperation-bg.png") no-repeat center top/cover;
  height: 920px;
  font-family: "PF Din Text Cond Pro", sans-serif;
}

.coop h3 {
  position: inherit;
  font-family: "PF Din Text Cond Pro", sans-serif;
  text-align: center;
  font-size: 37px;
  line-height: 1;
  color: #fff;
  text-transform: inherit;
}

.coop h3 span {
  font-family: "PF Agola", sans-serif;
  font-size: 50px;
  color: #ffd017;
  display: block;
  text-align: center;
}

.coop h1 {
  position: relative;
  top: -45px;
  width: 100%;
  max-width: 970px;
  margin: auto;
  font-family: "PF Din Text Cond Pro", sans-serif;
  font-weight: 100;
  font-size: 80px;
  color: #fff;
  text-align: center;
  line-height: 1;
}

.coop h1 span {
  color: #fff;
  display: block;
  font-size: 110px;
  font-weight: 300;
}

.coop-title {
  position: relative;
  width: 100%;
  max-width: 970px;
  margin: 80px auto 80px;
}

.coop .btn-wrap {
  text-align: center;
}

.information {
  position: relative;
}

.information .container {
  padding: 20px 40px;
  overflow: inherit;
  background: #fff;
  border-radius: 25px;
  border: 2px solid #ffd017;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.content h4 {
  font-size: 37px;
  font-weight: 100;
  text-transform: inherit;
  margin-bottom: 5px;
}

.content h4:after {
  display: none;
}

.content h5 {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 16px;
  color: #ff5600;
  text-transform: inherit;
  text-align: left;
}

.content h5:after {
  display: none;
}

.content p {
  margin-bottom: 14px;
}

.content ul {
  padding-left: 30px;
}

.content ul li {
  position: relative;
  margin-bottom: 14px;
}

.content ul li:before {
  content: '•';
  font-size: 25px;
  position: absolute;
  left: -18px;
  color: #ffd017;
}

.form {
  position: relative;
  background: url("../img/form-bg.png") no-repeat center top/cover;
  margin-top: 50px;
  height: 586px;
  padding: 90px 0 0;
  color: #000;
}

.form:after {
  content: '';
  position: absolute;
  bottom: -80px;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
  background: url("../img/shadow.png") no-repeat center top;
  pointer-events: none;
  z-index: 4;
  opacity: .3;
}

.form-text {
  width: 50%;
  padding: 0 30px;
  font-family: "PF Din Text Cond Pro", sans-serif;
  font-weight: 100;
  text-align: right;
  font-size: 50px;
  line-height: 1;
}

.form-title {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #ff5600;
}

.form-privacy {
  font-family: "PF Din Text Cond Pro", sans-serif;
  text-align: center;
  font-size: 18px;
}

.form-link {
  width: 50%;
}

.form-link form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.form-link form > div {
  width: 100%;
  margin: 10px 0;
  padding: 0 10px;
  text-align: center;
}

.form-link form > div:nth-child(1), .form-link form > div:nth-child(2) {
  width: 50%;
}

.form-link form input, .form-link form textarea {
  width: 100%;
  padding: 16px 10px;
  font-family: "PF Din Text Cond Pro", sans-serif;
  font-size: 18px;
  color: #000;
  background: #fff;
  border-radius: 8px;
  border: 0px;
}

.form-link form textarea {
  max-width: 565px;
}

.form-link form button {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 370px;
  padding: 10px 15px;
  font-family: "PF Din Text Cond Pro", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  overflow: hidden;
  text-align: center;
  font-size: 28px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f9b910), to(#733100));
  background: -webkit-linear-gradient(top, #f9b910 0%, #733100 100%);
  background: -o-linear-gradient(top, #f9b910 0%, #733100 100%);
  background: linear-gradient(to bottom, #f9b910 0%, #733100 100%);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.form-link form button:hover {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.form-link form button:after {
  content: '';
  position: absolute;
  left: -30px;
  top: -30px;
  width: 180px;
  height: 100px;
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
  background: -webkit-gradient(linear, left top, left bottom, from(#fcc513), to(#884301));
  background: -webkit-linear-gradient(top, #fcc513 0%, #884301 100%);
  background: -o-linear-gradient(top, #fcc513 0%, #884301 100%);
  background: linear-gradient(to bottom, #fcc513 0%, #884301 100%);
}

.form-link form button:before {
  content: '';
  position: absolute;
  left: 5px;
  top: 3px;
  bottom: 3px;
  right: 5px;
  border-radius: 50px;
  opacity: .1;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.35)), color-stop(47%, rgba(255, 255, 255, 0.23)), to(rgba(255, 255, 255, 0.27)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.23) 47%, rgba(255, 255, 255, 0.27) 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.23) 47%, rgba(255, 255, 255, 0.27) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.23) 47%, rgba(255, 255, 255, 0.27) 100%);
}

.form-link form button span {
  position: relative;
  z-index: 10;
  display: block;
  text-align: center;
}

.about {
  margin-top: -50px;
  padding-bottom: 50px;
}

.about h3 span {
  color: #ff5600;
}

.about h2 {
  font-family: "PF Agola", sans-serif;
  font-size: 28px;
  text-transform: uppercase;
  border-left: 3px solid #ef8900;
  padding-left: 20px;
}

.about h2 span {
  color: #ef8900;
}

.about .item {
  width: 100%;
  padding-bottom: 50px;
}

.about .item:not(:last-child) {
  background: url("../img/item-shadow.png") no-repeat center bottom;
}

.about .item__img {
  position: relative;
  width: 50%;
}

.about .item__img img {
  width: 100%;
}

.about .item__text {
  width: 50%;
  padding-left: 20px;
  padding-right: 20px;
}

.about .item__content {
  margin-top: 20px;
}

.about .item__content p {
  margin-bottom: 15px;
}

.about .item__count {
  position: absolute;
  left: 7px;
  width: 50px;
  height: 50px;
  background: #8b559f;
  text-align: center;
  color: #fff;
  font-size: 37px;
  border-bottom-right-radius: 20px;
}

.eva {
  padding: 50px 0;
}

.eva .container {
  overflow: inherit;
}

.eva__text {
  padding: 20px;
  border-radius: 20px;
  border: 2px solid #f29f3e;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.eva__text p {
  margin-bottom: 10px;
}

.massage {
  position: relative;
  background: url("../img/bg-3.png") no-repeat center top/cover;
  padding: 50px 0 220px;
}

.massage .item {
  width: 33%;
  max-width: 330px;
  height: auto;
  margin: 20px;
  border-radius: 10px;
}

.massage .item__img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
}

.massage .item__info {
  position: relative;
  margin-top: -20px;
  padding: 20px;
  background: #fff;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.massage .item .price {
  position: relative;
  line-height: 2;
  text-transform: uppercase;
}

.massage .item .price:after {
  content: '';
  position: absolute;
  left: -20px;
  top: 43px;
  width: 3px;
  height: 30px;
  background: #ef8900;
}

.massage .item .price span {
  font-size: 50px;
  color: #940084;
}

.massage .item .btn-yellow {
  display: block;
  margin: auto;
  padding: 3px;
  max-width: 250px;
}

.massage .item .btn-yellow:after {
  left: -60px;
}

.massage .item .btn-yellow:before {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.75)), color-stop(47%, rgba(255, 255, 255, 0.23)), to(white));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.23) 47%, white);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.23) 47%, white);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.23) 47%, white);
}

.call {
  position: relative;
  margin-top: -100px;
  background: url("../img/bg-5.jpg") no-repeat center top/cover;
  max-height: 600px;
  overflow: hidden;
}

.call:after {
  content: '';
  position: absolute;
  bottom: -80px;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
  background: url("../img/shadow.png") no-repeat center top;
  pointer-events: none;
  opacity: .3;
}

.call .container {
  overflow: inherit;
}

.call__img {
  width: 45%;
}

.call__img img {
  width: 100%;
  max-width: 450px;
  height: auto;
}

.call__info {
  width: 55%;
  padding: 90px 0;
}

.call__text {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-bottom: 20px;
}

.call-title {
  width: 100%;
  max-width: 70%;
  font-family: "PF Agola", sans-serif;
  font-size: 78px;
  font-weight: 300;
  line-height: 1;
  color: #ff5600;
  text-transform: uppercase;
}

.call-descr {
  font-family: "PF Din Text Cond Pro", sans-serif;
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
}

.call__tel {
  width: 100%;
}

.call__icon {
  width: 20%;
}

.call .main-tel {
  width: 75%;
  line-height: 1;
}

.call .main-tel h6 {
  position: relative;
  margin-bottom: 15px;
  font-family: "PF Din Text Cond Pro", sans-serif;
  font-weight: 300;
  font-size: 37px;
}

.call .main-tel h6:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 65%;
  height: 2px;
  background: #87c51c;
}

.call .main-tel p {
  position: relative;
  font-family: "PF Din Text Cond Pro", sans-serif;
  font-size: 89px;
}

.call .main-tel .tel1:after {
  content: '';
  position: absolute;
  right: 0;
  top: -32px;
  width: 2px;
  height: 120px;
  background: #87c51c;
}

.call .main-tel .tel1:before {
  content: '';
  position: absolute;
  bottom: -1px;
  right: 0;
  width: 50px;
  height: 2px;
  background: #87c51c;
}

.call .main-tel span {
  display: inline-block;
  color: #ff5600;
}

.pre-footer {
  position: relative;
  padding: 40px 0;
  background: #f7f7f7;
}

.pre-footer:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
  background: url("../img/shadow.png") no-repeat center top;
  pointer-events: none;
  z-index: 4;
  opacity: .3;
}

.pre-footer .container {
  overflow: inherit;
}

.pre-footer h4 {
  font-family: "PF Din Text Cond Pro", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 22px;
  padding-bottom: 10px;
}

.pre-footer h4:after {
  background: #ff5600;
}

.pre-footer__list {
  width: 50%;
}

.pre-footer__list li {
  position: relative;
  width: 33%;
  float: left;
  padding-left: 10px;
  line-height: 2;
}

.pre-footer__list li:before {
  content: '•';
  position: absolute;
  left: 0;
  color: #d52b1e;
}

.pre-footer__list li a {
  color: #000;
  text-decoration: none;
}

.pre-footer__list li a:hover {
  text-decoration: underline;
}

.pre-footer__info {
  width: 50%;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.pre-footer__info .text {
  text-align: center;
}

.pre-footer__info .text-title {
  font-family: "PF Din Text Cond Pro", sans-serif;
  margin: 20px 0;
  font-size: 28px;
  font-weight: 300;
  text-transform: uppercase;
}

.pre-footer__info .count {
  display: inline-block;
  font-family: "PF Din Text Cond Pro", sans-serif;
  font-size: 68px;
  font-weight: 300;
  line-height: 1.2;
  background: #940084;
  color: #fff;
  padding: 0 20px;
  border: 1px solid #fff;
  -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.pre-footer .copyright {
  margin: 30px 0 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 14px;
}

.footer {
  background: #408a00;
  padding: 10px 0;
  text-align: center;
}

.footer .container {
  position: relative;
  overflow: inherit;
}

.footer-info {
  width: 100%;
  max-width: 900px;
  margin: auto;
}

.footer p {
  padding: 0 10px;
  font-family: "PF Din Text Cond Pro", sans-serif;
  font-size: 28px;
  text-transform: uppercase;
  color: #fff;
}

.footer p img {
  position: relative;
  top: -6px;
}

.footer .arrow {
  position: absolute;
  right: 80px;
  top: -55px;
}

@media screen and (max-width: 1170px) {
  .container {
    width: 100%;
    max-width: 768px;
    margin: auto;
    padding: 0 10px;
  }
  .coop {
    height: auto;
  }
  .coop h1 {
    font-size: 60px;
    top: -30px;
  }
  .coop h1 span {
    font-size: 90px;
  }
  .coop-title .arrow-right:before,
  .coop-title .arrow-right:after {
    width: 24%;
  }
  .information {
    padding: 0 10px;
  }
  .form-text {
    font-size: 40px;
  }
  .pre-footer__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .pre-footer__info > div {
    margin: 10px 0;
  }
  .pre-footer__info .btn-wrap {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }
  .pre-footer__info .count {
    font-size: 46px;
  }
  .btn-yellow {
    font-size: 20px;
  }
  .massage .item {
    width: 45%;
  }
  h3 {
    font-size: 26px;
  }
  h3:after {
    bottom: -30px;
  }
  h4 {
    font-size: 40px;
  }
  h5 {
    font-size: 20px;
  }
  .header {
    height: auto;
    padding-top: 50px;
    padding-bottom: 200px;
  }
  .header h1 {
    font-size: 90px;
  }
  .header h1 span {
    font-size: 100px;
  }
  .order {
    padding-top: 100px;
    height: auto;
    border-top: 14px solid #9cb804;
    background: #fff9d7;
  }
  .order .container {
    padding-top: 20px;
  }
  .order .row {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .order .row .item {
    width: 50%;
  }
  .bg {
    margin-top: 0;
  }
  .maps__list > li {
    font-size: 24px;
  }
  .maps__list .sub-menu {
    font-size: 18px;
  }
  .service__list {
    font-size: 16px;
  }
  .info .item {
    font-size: 14px;
  }
  .info .item img {
    max-width: 200px;
  }
  .call__img img {
    width: 100%;
    height: auto;
  }
  .call-title {
    font-size: 48px;
  }
  .call-descr {
    font-size: 30px;
  }
  .call__tel {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .call .main-tel {
    width: 90%;
    margin-top: 15px;
    text-align: center;
  }
  .call .main-tel p {
    font-size: 50px;
  }
  .call__info {
    padding-bottom: 20px;
  }
  .call .main-tel h6:after,
  .call .main-tel .tel1:before,
  .call .main-tel .tel1:after {
    display: none;
  }
  .footer .arrow {
    right: 20px;
  }
  .service .item {
    width: 50%;
  }
  .roof {
    padding: 150px 0 180px;
    height: auto;
  }
  .roof .container > .flex {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .roof .item {
    width: 100%;
  }
  .gallery {
    margin-top: -120px;
  }
  .gallery .flex {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .gallery a {
    max-width: 30%;
  }
  .call__info {
    text-align: center;
  }
  .massage {
    background: #fadace;
    padding-bottom: 120px;
  }
  .call {
    margin-top: 0;
  }
  .call__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .call-title {
    max-width: 100%;
    font-size: 28px;
  }
  .category {
    height: 680px;
    -webkit-background-size: cover;
    background-size: cover;
  }
  .category__block > .flex {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .category__num a {
    font-size: 30px;
  }
  .category h1 {
    font-size: 50px;
  }
  .category .btn-wrap {
    height: auto;
  }
  .category .btn-wrap .btn {
    margin-top: 40px;
  }
  .category h1 span {
    font-size: 60px;
  }
  .category h1 span:before {
    top: 56%;
  }
  .category .tel__contacts a {
    font-size: 26px;
  }
  .category .lang__link {
    margin-right: 10px;
  }
  .tel__icon {
    padding-right: 12px;
  }
  .category .lang {
    padding-right: 0;
  }
  .category-text {
    left: 0;
  }
  .category__left .category-text + img {
    position: relative;
    top: -50px;
    width: 100%;
    height: auto;
  }
  .category-right {
    line-height: 1;
    padding-top: 260px;
  }
  .category-right__title,
  .category-right__text {
    font-size: 40px;
  }
  .specific .item {
    width: 100%;
    max-width: 585px;
    margin: 15px auto;
  }
  .category .btn-wrap {
    background: transparent;
  }
  .category .tel {
    padding-right: 0;
  }
  .category-service {
    margin-top: -80px;
  }
  .category-order {
    background: #ed7f00 !important;
    padding-top: 40px !important;
  }
  .service__info {
    font-size: 24px;
  }
  .order__img img {
    width: 140px;
    height: 140px;
  }
  .order__info {
    font-size: 24px;
  }
  .category-eva {
    margin-top: 0;
  }
  .about {
    margin-top: 0;
    padding-top: 50px;
  }
}

@media screen and (max-width: 767px) {
  .form {
    height: auto;
    padding-top: 90px;
  }
  .form-text {
    text-align: center;
  }
  .form .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .form .row > div {
    width: 100%;
    max-width: 565px;
  }
  .pre-footer__list li {
    width: 50%;
  }
  h5 {
    font-size: 22px;
  }
  .header h1 {
    font-size: 68px;
    top: -30px;
  }
  .order__img {
    width: 130px;
  }
  .order__img img {
    width: 100%;
    height: auto;
  }
  .order .item:before {
    left: 38%;
    font-size: 140px;
  }
  .service {
    height: auto;
  }
  .service__list li {
    width: 100%;
    margin: auto;
  }
  .info .item {
    width: 100%;
    max-width: 450px;
    margin: 30px auto 10px;
  }
  .owl-carousel .owl-stage-outer {
    overflow: inherit !important;
  }
  .owl-dots {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .owl-dots .owl-dot {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    border-radius: 50%;
    background: #fff !important;
  }
  .owl-dots .active {
    background: #008fd7 !important;
  }
  .info .item {
    font-size: 16px;
  }
  .call__info {
    padding: 20px 0;
  }
  .call-title {
    font-size: 38px;
  }
  .call .main-tel h6 {
    font-size: 26px;
  }
  .service__list {
    max-width: 500px;
    margin: auto;
    font-size: 22px;
  }
  .category-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .category__img {
    width: 60px;
    height: 60px;
  }
  .category__img img {
    width: 100%;
    height: auto;
  }
  .category h1 span {
    padding-left: 0;
  }
  .category h1:before,
  .category h1:after,
  .category h1 span:before,
  .category h1 span:after {
    display: none;
  }
  .autopark {
    padding: 30px 0;
    height: auto !important;
  }
  .autopark .container {
    top: 0;
  }
  .category + .autopark h4 {
    text-align: center;
    color: #000;
  }
  .category + .autopark h4:after {
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
  }
  .autopark .item {
    height: 210px !important;
  }
  .autopark .flex {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .category__left {
    width: 100%;
  }
  .gallery {
    margin-top: 0;
  }
}

@media screen and (max-width: 640px) {
  html, body {
    overflow-x: hidden;
  }
  .coop h1 {
    font-size: 40px;
  }
  .coop h1 span {
    font-size: 60px;
  }
  .pre-footer .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .pre-footer .row > * {
    width: 100%;
  }
  .footer p {
    font-size: 20px;
  }
  .footer-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer-info > * {
    width: 100%;
  }
  .footer .arrow {
    right: 50%;
    top: -85px;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
  }
  .footer {
    padding: 40px 0 25px;
  }
  .header h1 {
    font-size: 50px;
  }
  .header h1 span {
    font-size: 80px;
  }
  .autopark {
    height: 305px;
  }
  .autopark .flex {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .autopark .item {
    width: 48%;
    height: 170px;
    margin: 10px 0;
  }
  .order__info {
    font-size: 18px;
  }
  .order .item:before {
    left: 50%;
  }
  .maps__ul {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .maps__list {
    width: 50%;
  }
  .call .row {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .call-title {
    font-size: 28px;
  }
  .call-descr {
    font-size: 20px;
  }
  .call .main-tel p {
    font-size: 30px;
  }
  .service .item h5 {
    font-size: 18px;
  }
  .service .item {
    width: 49%;
  }
  .service .item::before {
    right: 0;
  }
  .pre-footer__list li {
    width: 33%;
  }
  .massage .item {
    width: 45%;
    max-width: 42%;
  }
  .category h1 {
    text-align: center;
    font-size: 60px;
  }
  .category h1 span {
    font-size: 80px;
    display: block;
    text-align: center;
  }
  .category__num a {
    font-size: 24px;
  }
  .category-text {
    font-size: 50px;
    text-align: center;
  }
  .category__left .category-text + img {
    top: 0;
  }
  .category-right__title, .category-right__text {
    font-size: 36px;
  }
  .category .container .flex {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .order .row .item {
    max-width: 260px;
    margin: auto;
  }
  .specific .item__img {
    height: 120px;
    padding: 20px 0;
  }
  .category .country {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .spec .item {
    width: 50%;
  }
  .form {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #fef1d5;
  }
  .category {
    height: 775px;
  }
  .category__block > .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .category__title {
    width: 100%;
    text-align: center;
  }
  .category .btn-wrap {
    width: 100%;
    text-align: center;
  }
  .about .item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .about .item > * {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .btn-orange {
    max-width: 260px;
  }
  .coop h3 {
    font-size: 32px;
  }
  .coop h1 span {
    font-size: 40px;
  }
  .coop-title .arrow-left:before,
  .coop-title .arrow-left:after {
    width: 15%;
  }
  .information .container {
    padding: 20px;
  }
  .form-text {
    font-size: 30px;
  }
  .form-link form > div:nth-child(1), .form-link form > div:nth-child(2) {
    width: 100%;
  }
  .form-link form button {
    font-size: 22px;
  }
  .coop-title {
    margin: 50px 0;
  }
  h5 {
    font-size: 23px;
  }
  .header h1 {
    font-size: 40px;
  }
  .header h1 span {
    font-size: 60px;
  }
  .order .row .item {
    width: 90%;
    margin: 20px auto;
  }
  .maps__list > li {
    font-size: 20px;
  }
  .call-title {
    font-size: 24px;
  }
  h4 {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .service__info {
    font-size: 22px;
  }
  .service .container > .flex {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .service .item {
    width: 100%;
  }
  .service .item:before {
    right: -8px;
  }
  .gallery .flex {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .gallery a {
    max-width: 48%;
    margin: 10px 0;
  }
  .massage .item {
    width: 100%;
    max-width: 320px;
  }
  .massage .item__img {
    width: 100%;
    height: auto;
    min-height: 150px;
  }
  .massage .item__img img {
    width: auto;
    height: 100%;
    max-height: 200px;
  }
  .category {
    height: 800px;
  }
  h4 {
    font-size: 22px;
  }
  h6 {
    font-size: 16px;
  }
  .category__img {
    padding-right: 5px;
  }
  .category h1 {
    font-size: 50px;
  }
  .category h1 span {
    padding: 10px 0;
    font-size: 58px;
  }
  .category-text {
    font-size: 40px;
  }
  .category .country li:last-child {
    font-size: 16px;
  }
  .category-right__title, .category-right__text {
    font-size: 24px;
  }
  .category-right {
    padding-top: 390px;
  }
  .autopark .item {
    height: 145px !important;
  }
  .service__list {
    font-size: 18px;
  }
  .specific .item__img {
    height: 70px;
    padding: 12px 0;
    width: 90px;
  }
  .specific .item__img img {
    width: 40px;
  }
  .specific .item__text {
    padding-left: 10px;
  }
  .specific .item {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .maps__list {
    width: 100%;
  }
  .maps__list > li {
    font-size: 24px;
  }
  .call-title {
    font-size: 22px;
  }
  .call__icon {
    width: 100%;
    text-align: center;
  }
  .maps__ul + img {
    display: none;
  }
  .content h4 {
    font-size: 28px;
  }
  .roof .item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 320px;
  }
  .roof .item > * {
    width: 100%;
  }
  .roof {
    background: #2e2e2e;
    padding: 30px 0 30px;
  }
  .roof .item__info {
    border: 4px solid #ff5600;
  }
  .gallery {
    padding: 40px 0;
    margin-top: 0;
  }
  .spec .item {
    width: 100%;
    margin: 20px auto;
  }
}

@media screen and (max-width: 400px) {
  .header h1 span {
    font-size: 50px;
  }
  .call .main-tel p {
    font-size: 26px;
  }
  .pre-footer__info .text-title {
    font-size: 22px;
  }
  .call__info {
    width: 100%;
  }
  .call__img {
    display: none;
  }
  .coop {
    padding-top: 50px;
  }
  .coop h3 span {
    font-size: 40px;
  }
  .coop h1 {
    font-size: 30px;
  }
  .category {
    height: 900px;
  }
}
