// Color 
$color-white: #fff;
	$color-white-opacity-70: rgba(255,255,255,.7);
	$color-white-opacity-30: rgba(255,255,255,.3);
$color-black: #000;
	$color-black-opacity-80: rgba(0,0,0,0.8);
$color-pink: rgba(255,0,76,0.55);
	$color-pink-gradient: linear-gradient(117.29deg, #F95D97 0%, #9B1345 100%);
	$color-pink-light: #D13F75;

// Fonts 
$lora: 'Lora', sans-serif;
$augustina: 'Augustina', sans-serif;
$monotype: 'MonotypeCorsiva', sans-serif;