// Color 
$color-white: #fff;
$color-black: #000;
$color-red: #e7342c;
$color-dark-grey: #363636;



// Fonts 
$font-roman: "HelveticaNeueCyr-Roman", sans-serif;
$font-light: "HelveticaNeueCyr-Light", sans-serif;
$font-medium: "HelveticaNeueCyr-Medium", sans-serif;
$font-bold: "HelveticaNeueCyr-Bold", sans-serif;
$font-montsserat: "Montserrat-Bold", sans-serif;
