/*
	
	Author: Dmitriy Gormash
	Github: https://github.com/kanonir14
	Twitter: @kanonir
	
*/
* {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
nav, output, ruby, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html, body {
  width: 100%;
  background: transparent;
  font-family: "HelveticaNeueCyr", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #000;
  line-height: 1.4;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background: none;
  border: 0px;
  cursor: pointer;
}

img, button, a, input, textarea {
  outline: none;
}

strong {
  font-weight: bold;
}

.container {
  width: 1350px;
  height: auto;
  overflow: hidden;
  margin: auto;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("../fonts/HelveticaNeueCyr-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("../fonts/HelveticaNeueCyr-Italic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

.btn-wrap {
  text-align: center;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 20px 30px;
  line-height: 1;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-box-shadow: 0 12px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 12px 10px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
}

.btn-orange {
  background: #ff8e0e;
  font-size: 18px;
  color: #fff;
}

.btn-orange:hover {
  background: #f48100;
}

.btn-blue {
  width: 100%;
  max-width: 545px;
  text-align: center;
  color: #fff;
  background: #3b4c9d;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
}

.order-form {
  width: 100%;
  max-width: 430px;
  margin: auto;
}

.order-form .form-group {
  position: relative;
  margin-bottom: 20px;
}

.order-form input, .order-form select {
  width: 100%;
  padding: 0 20px;
  line-height: 55px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  border: 0px;
  font-family: "HelveticaNeueCyr", sans-serif;
  font-size: 21px;
  font-weight: 300;
  background: #fff;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.order-form input:focus, .order-form select:focus {
  -webkit-box-shadow: inset 0 0 5px #3cb3e8;
  box-shadow: inset 0 0 5px #3cb3e8;
  border-color: #3cb3e8;
}

.order-form select {
  position: relative;
  background: url("../img/blue-bg.png") #fff no-repeat right top;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  outline: none;
}

.order-form select:focus {
  -webkit-border-radius: 0;
  border-radius: 0;
}

.order-form option {
  font-size: 18px;
}

.order-form button {
  padding: 24px 20px;
}

.order-form .arrow {
  display: block;
  position: absolute;
  right: 30px;
  top: 25px;
  width: 16px;
  height: 9px;
  background: url("../img/icon-arrow.png") no-repeat center center/contain;
  z-index: 10;
}

.contact-form .form-group {
  position: relative;
  margin-bottom: 15px;
}

.contact-form label {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 21px;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.contact-form label span {
  color: #ffa239;
}

.contact-form input {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 5px;
  font-family: "HelveticaNeueCyr", sans-serif;
  font-weight: 300;
  font-size: 21px;
  border: 0;
  border-bottom: 1px solid #ddd;
}

.contact-form input:focus {
  border-color: #3cb3e8;
}

h1 {
  position: relative;
  font-size: 50px;
  font-weight: 300;
  text-transform: uppercase;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.flex-center {
  -webkit-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flex-between {
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flex-items {
  -webkit-align-items: center;
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-column {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.flex-wrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.color-orange {
  color: #ffa239;
}

.color-blue {
  color: #3cb3e8;
}

.js-enable-mark {
  background: #3cb3e8 !important;
}

.toggle-nav {
  display: none;
  position: absolute;
  right: 50px;
  top: 60px;
  width: 30px;
  height: 30px;
  background: #fff;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.service h2, .work h2, .process h2, .review h2, .case h2, .page-header h1 {
  position: relative;
  font-size: 50px;
  line-height: 1.1;
  font-weight: 300;
  text-align: center;
  color: #3cb3e8;
}

.service h2:after, .work h2:after, .process h2:after, .review h2:after, .case h2:after, .page-header h1:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -20px;
  width: 46px;
  height: 16px;
  background: url("../img/icon-arrow-right.png") no-repeat center center/contain;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.service h2 span, .work h2 span, .process h2 span, .review h2 span, .case h2 span, .page-header h1 span {
  display: block;
  font-size: 88px;
}

.main-header h1 {
  width: 100%;
  max-width: 660px;
  margin: auto;
  line-height: 1.1;
  color: #fff;
  text-align: center;
}

.main-header h1 span {
  display: block;
}

.main-header h1 span:first-child {
  font-size: 70px;
}

.main-header h1 span:last-child {
  position: relative;
  top: -4px;
  font-size: 70px;
  font-weight: bold;
  color: #3cb3e8;
}

.header {
  padding: 36px 0 0;
  background: url("../img/main_header.jpg") #3b4c9d no-repeat center top/cover;
}

.header .container {
  padding-bottom: 50px;
}

.header__descr {
  width: 100%;
  max-width: 620px;
  margin: 55px auto;
  font-size: 28px;
  text-align: center;
  color: #fff;
}

.header__descr span:last-child {
  display: block;
}

.logo {
  text-align: center;
}

.logo a {
  outline: none;
}

.logo a img {
  width: 100%;
  max-width: 214px;
}

.navigation {
  width: 100%;
  max-width: 950px;
  margin: 10px auto 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation li {
  position: relative;
}

@media screen and (min-width: 769px) {
  .navigation li:hover .sub-menu {
    opacity: 1;
    visibility: visible;
  }
}

.navigation a {
  display: block;
  padding: 16px;
  line-height: 1;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid transparent;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.navigation a:hover {
  border-color: #3cb3e8;
}

.sub-menu {
  opacity: 0;
  visibility: hidden;
  width: 300px;
  position: absolute;
  left: 0;
  top: 70px;
  background: #3b7abf;
  z-index: 10;
  -webkit-box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.sub-menu:before {
  content: '';
  position: absolute;
  top: -12px;
  left: 45px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 12px solid #3b7abf;
}

.sub-menu a {
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 0;
  text-transform: none;
}

.sub-menu a:hover {
  background: #3b4c9d;
}

.drop-menu {
  position: relative;
}

.drop-menu a {
  padding-right: 40px;
}

.drop-menu:after {
  content: '';
  position: absolute;
  right: 15px;
  top: 20px;
  width: 16px;
  height: 9px;
  background: url("../img/icon-arrow.png") no-repeat center center/contain;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

@media screen and (min-width: 769px) {
  .drop-menu:hover:after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

.partners {
  margin-top: 10px;
  padding: 15px 0;
  background: #3b4c9d;
}

.partners__list {
  width: 100%;
  max-width: 1120px;
  height: 90px;
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.partners__list li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  height: 100%;
}

.partners__list li:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -15px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 12px solid #fff;
}

.page-header {
  background-repeat: no-repeat;
  background-position: center top;
  -webkit-background-size: cover;
  background-size: cover;
  padding-bottom: 50px;
}

.page-header h1 {
  color: #fff;
  text-transform: none;
}

.page-header h1:after {
  background-image: url("../img/icon-arrow-right_white.png");
}

.page-header h1 span {
  font-size: 70px;
}

.page-header .container {
  overflow: inherit;
}

.page-header .btn-wrap {
  position: relative;
  top: 80px;
}

.info {
  position: relative;
  padding: 140px 0;
  font-size: 20px;
}

.info .arrow-left {
  position: absolute;
  top: 51%;
  left: 0;
  width: 40%;
  height: 1px;
  background: #3cb3e8;
}

.info .arrow-left:after {
  content: '';
  position: absolute;
  right: -2px;
  top: -3px;
  width: 8px;
  height: 8px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #3cb3e8;
}

.info .arrow-right {
  position: absolute;
  top: 37%;
  right: 0;
  width: 14%;
  height: 1px;
  background: #3cb3e8;
}

.info .arrow-right:before {
  content: '';
  position: absolute;
  left: -2px;
  top: -3px;
  width: 8px;
  height: 8px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #3cb3e8;
}

.info .container {
  overflow: inherit;
}

.info p {
  max-width: 920px;
}

.info-icons {
  position: relative;
  width: 100%;
  height: 250px;
  max-width: 775px;
  margin-left: auto;
  margin-right: 0;
}

.info .icon-box {
  position: absolute;
  width: 183px;
  height: 182px;
}

.info .icon-box:nth-child(1) {
  right: 120px;
  top: -180px;
}

.info .icon-box:nth-child(2) {
  right: 30px;
  top: -90px;
}

.info .icon-box:nth-child(3) {
  right: 210px;
  top: -90px;
}

.info .icon-box:nth-child(4) {
  right: 300px;
  top: 0px;
}

.info .icon-box:nth-child(5) {
  right: 390px;
  top: 90px;
}

.info .icon-box:nth-child(6) {
  right: 480px;
  top: 0px;
}

.info .icon-box:nth-child(7) {
  right: 570px;
  top: 90px;
}

.info .icon-box:nth-child(8) {
  right: 660px;
  top: 0px;
}

.service {
  position: relative;
  padding: 50px 0;
}

.service h2 {
  position: absolute;
  top: 240px;
  left: 100px;
  width: 100%;
  max-width: 300px;
  z-index: 5;
}

.service .container {
  position: relative;
  overflow: inherit;
}

.service-img {
  position: relative;
  width: 100%;
  max-width: 690px;
}

.service-img img {
  position: absolute;
  left: 50%;
  top: -210px;
  -webkit-transform: translateX(-76%);
  -ms-transform: translateX(-76%);
  transform: translateX(-76%);
}

.service-list {
  position: relative;
  width: 100%;
  max-width: 660px;
  left: -30px;
}

.service-list li {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 8px 0 10px;
  border-bottom: 1px solid #aedff5;
}

.service-list li:first-child, .service-list li:last-child {
  left: -80px;
}

.service-list li:nth-child(2), .service-list li:nth-child(7) {
  left: -40px;
}

.service-list li:nth-child(3), .service-list li:nth-child(6) {
  left: -20px;
}

.service-list a {
  font-size: 28px;
  color: #000;
  text-decoration: none;
}

.service-list a span {
  display: block;
  font-size: 20px;
}

.service-list .list-img {
  width: 100px;
  text-align: center;
}

.work {
  padding: 80px 0;
  overflow: hidden;
}

.work h2 {
  margin-bottom: 60px;
}

.work .container {
  overflow: initial;
}

.work-info {
  width: 100%;
  max-width: 660px;
}

.work-img {
  position: relative;
  width: 100%;
  max-width: 690px;
}

.work-list {
  font-size: 21px;
  line-height: 1.3;
}

.work-list li {
  position: relative;
  padding: 10px 0;
}

.work-list li:before {
  content: '';
  position: absolute;
  left: -20px;
  top: 20px;
  width: 6px;
  height: 6px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #ffa239;
}

.work-list li span {
  font-weight: bold;
}

.process {
  height: 1190px;
  padding: 100px 0;
  background: url("../img/process-bg.jpg") #3b4c9d no-repeat center top/cover;
}

.process h2 {
  color: #fff;
}

.process h2:after {
  content: '';
  background-image: url("../img/icon-arrow-right_white.png");
}

.process h6 {
  font-size: 21px;
  font-weight: bold;
  padding: 15px 0;
}

.process .item-descr {
  position: relative;
  padding-left: 20px;
}

.process .item-descr:before {
  content: '';
  position: absolute;
  left: 0;
  top: 10px;
  width: 6px;
  height: 6px;
  background: #ffa239;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.process .row {
  padding-top: 100px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.process .item {
  padding: 0 20px 100px 20px;
  color: #fff;
}

.process .item:nth-child(1) {
  width: 33%;
  background: #3b57a5;
}

.process .item:nth-child(1) .item-img {
  background: #3b57a5;
}

.process .item:nth-child(2) {
  width: 33%;
  background: #3b61ac;
}

.process .item:nth-child(2) .item-img {
  background: #3b61ac;
}

.process .item:nth-child(3) {
  width: 34%;
  background: #3b6bb4;
}

.process .item:nth-child(3) .item-img {
  background: #3b6bb4;
}

.process .item:nth-child(4) {
  width: 25%;
  background: #3b7abf;
}

.process .item:nth-child(4) .item-img {
  background: #3b7abf;
}

.process .item:nth-child(5) {
  width: 25%;
  background: #3c8aca;
}

.process .item:nth-child(5) .item-img {
  background: #3c8aca;
}

.process .item:nth-child(6) {
  width: 25%;
  background: #3c9ed9;
}

.process .item:nth-child(6) .item-img {
  background: #3c9ed9;
}

.process .item:nth-child(7) {
  width: 25%;
  background: #3cb3e8;
}

.process .item:nth-child(7) .item-img {
  background: #3cb3e8;
}

.process .item-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 130px;
  height: 130px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 4px solid #3b4c9d;
}

.process .item-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-top: -60px;
}

.process .item .step {
  padding-bottom: 20px;
  padding-left: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
}

.process .item .step span {
  position: relative;
  padding: 0 20px;
  margin: 0 20px;
  font-size: 37px;
}

.process .item .step span:before {
  content: '';
  position: absolute;
  left: 0;
  top: 65%;
  height: 20px;
  width: 2px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #fff;
}

@media screen and (min-width: 1350px) {
  .process {
    -webkit-clip-path: polygon(71% 0, 100% 14%, 100% 100%, 25% 92%, 0 100%, 0 14%);
    clip-path: polygon(71% 0, 100% 14%, 100% 100%, 25% 92%, 0 100%, 0 14%);
  }
}

.review {
  padding: 70px 0;
}

.review .container {
  overflow: inherit;
}

.review .row {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.review .title {
  width: 50%;
  text-align: center;
}

.review .title h2 {
  color: #3cb3e8;
}

.review .item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin: 20px 0;
  padding: 10px;
}

.review .item-img {
  width: 205px;
  height: 205px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 4px solid #fff;
  -webkit-box-shadow: 5px 20px 20px rgba(0, 0, 0, 0.15);
  box-shadow: 5px 20px 20px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.review .item-img img {
  height: 100%;
  width: auto;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.review .item-info {
  width: 100%;
  max-width: 460px;
  padding: 0 0 0 20px;
}

.review-title {
  font-size: 28px;
}

.review-time {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 16px;
  color: #3cb3e8;
}

.review-text {
  font-size: 20px;
}

.case {
  padding: 50px 0;
}

.case h2 {
  text-align: center;
}

.case .container {
  overflow: inherit;
}

.case .row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 50px 0 0;
}

.case .item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  border: 1px solid #3cb3e8;
  margin: 20px 0;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.case .item:nth-child(1) .percent {
  background: #3b4c9d;
}

.case .item:nth-child(2) .percent {
  background: #3cb3e8;
}

.case .item:nth-child(3) .percent {
  background: #3cb3e8;
}

.case .item-info {
  width: 100%;
  max-width: 1000px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 70px 40px;
  border-right: 1px solid #3cb3e8;
  border-left: 1px solid #3cb3e8;
}

.case .item-info p {
  width: 100%;
  max-width: 540px;
  margin: 0 30px;
  font-size: 21px;
}

.case .percent {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 200px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 21px;
  text-align: center;
  color: #fff;
}

.case .percent span {
  display: block;
  font-size: 50px;
}

.case .read-more {
  width: 100%;
  max-width: 150px;
  text-align: center;
}

.case .read-more a {
  text-transform: uppercase;
  color: #3cb3e8;
  text-decoration: none;
}

.connect {
  padding: 130px 0;
  text-align: center;
  background: #3b4c9d;
}

.connect h3 {
  font-size: 50px;
  font-weight: 300;
  color: #fff;
}

.connect h3 span {
  font-weight: bold;
}

.connect-descr {
  width: 100%;
  max-width: 890px;
  margin: auto;
  font-size: 28px;
  color: #fff;
}

.connect-form {
  width: 100%;
  max-width: 660px;
  margin: auto;
  padding: 20px 20px 50px 20px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #3b4c9d), to(#3cb3e8));
  background: -webkit-linear-gradient(top, #3b4c9d 50%, #3cb3e8 100%);
  background: -o-linear-gradient(top, #3b4c9d 50%, #3cb3e8 100%);
  background: linear-gradient(to bottom, #3b4c9d 50%, #3cb3e8 100%);
}

@media screen and (min-width: 1350px) {
  .connect {
    -webkit-clip-path: polygon(25% 0, 100% 14%, 100% 100%, 75% 92%, 0 100%, 0 14%);
    clip-path: polygon(25% 0, 100% 14%, 100% 100%, 75% 92%, 0 100%, 0 14%);
  }
}

.footer {
  margin-top: 100px;
  padding: 40px 0;
  color: #fff;
  background: #3b4c9d;
}

.footer-logo {
  width: 100%;
  max-width: 320px;
  text-align: center;
}

.footer-logo p {
  padding: 10px 0;
}

.footer-logo a img {
  max-width: 150px;
}

.footer .col {
  width: 100%;
  padding-left: 100px;
}

.footer .col ul {
  width: 100%;
}

.footer .col ul li {
  position: relative;
  padding: 3px 0;
}

.footer .col ul li:before {
  content: '';
  position: absolute;
  left: -15px;
  top: 10px;
  width: 6px;
  height: 6px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #ffa239;
}

.footer .col ul li a {
  color: #fff;
  text-decoration: none;
}

.footer .col ul li a:hover {
  text-decoration: underline;
}

.footer .col-pages {
  max-width: 25%;
}

.footer .col-services {
  max-width: 50%;
}

.footer .col-services ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer .col-services ul li {
  width: 50%;
  padding-right: 20px;
}

.footer-title {
  padding-bottom: 15px;
  color: #3cb3e8;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.main {
  width: 100%;
  padding: 80px 0;
}

.main .content {
  width: 100%;
  max-width: 1010px;
}

.main .aside {
  width: 100%;
  max-width: 340px;
}

.main .aside h6 {
  position: relative;
  font-family: "HelveticaNeueCyr", sans-serif;
  font-weight: 300;
  color: #ffa239;
  font-size: 37px;
  text-align: center;
}

.main .aside h6:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -20px;
  width: 46px;
  height: 16px;
  background: url("../img/icon-arrow-right_orange.png") no-repeat center center/contain;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.post-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 30px;
}

.post {
  width: 100%;
  max-width: 305px;
  margin: 15px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.post:hover h3 a {
  color: #3cb3e8;
}

.post h3 {
  font-weight: bold;
  font-size: 21px;
  margin-bottom: 20px;
}

.post h3 a {
  color: #000;
  text-decoration: none;
}

.post-header {
  position: relative;
  height: 50px;
  margin-bottom: 20px;
}

.post-header__logo {
  position: relative;
  top: 25px;
  left: 15px;
  display: inline-block;
  width: 45px;
  height: 45px;
  padding: 6px;
  background: #1e88e5;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 3px solid #fff;
}

.post-content {
  position: relative;
  padding: 20px 20px 10px 20px;
  font-size: 16px;
}

.post-content:after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 20px;
  right: 20px;
  height: 1px;
  background: #3cb3e8;
}

.post-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 20px 10px 20px;
}

.post-footer a {
  font-size: 12px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}

.post-footer a:hover {
  text-decoration: underline;
}

.page-list {
  padding-top: 50px;
  width: 100%;
}

.page-list li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 7px 0;
  border-bottom: 1px solid #3cb3e8;
}

.page-list li:hover {
  border-bottom: 1px solid #ffa239;
}

.page-list li:hover .page-list__title a {
  color: #ffa239;
}

.page-list__img {
  width: 100%;
  max-width: 65px;
}

.page-list__img img {
  width: 80%;
  height: auto;
}

.page-list__title {
  width: 100%;
  max-width: 280px;
}

.page-list__title a {
  font-size: 21px;
  color: #000;
  text-decoration: none;
}

.content {
  width: 100%;
  font-size: 21px;
}

.content h2 {
  font-family: "HelveticaNeueCyr", sans-serif;
  font-weight: 300;
  font-size: 50px;
  color: #3cb3e8;
}

.content h6 {
  font-size: 28px;
}

.content strong {
  font-weight: bold;
}

.content p {
  margin-bottom: 15px;
}

.content ul li {
  position: relative;
  margin-left: 25px;
  padding: 3px 0;
}

.content ul li:before {
  content: '';
  position: absolute;
  left: -15px;
  top: 15px;
  width: 6px;
  height: 6px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #ffa239;
}

.contact {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  padding-bottom: 50px;
  -webkit-box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.15);
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.15);
}

.contact-form {
  width: 100%;
  max-width: 500px;
}

.contact-service {
  width: 100%;
  max-width: 600px;
  padding: 0 25px;
}

.contact-service__title {
  font-weight: bold;
  font-size: 21px;
  margin-bottom: 15px;
}

.contact-service__title span {
  display: block;
  font-size: 16px;
  font-weight: 300;
}

.contact-service .contact-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.contact-service .contact-list li {
  width: 50%;
}

.contact-budget {
  width: 100%;
  max-width: 220px;
}

.contact-budget > p {
  margin-bottom: 38px;
}

.contact-budget .contact-list p {
  font-weight: bold;
}

.contact-list {
  width: 100%;
}

.contact-list li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0;
}

.contact-mark {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background: #eaeaea;
  border: 1px solid #ddd;
  cursor: pointer;
}

.contact-button {
  width: 100%;
  max-width: 545px;
  position: absolute;
  right: 150px;
  bottom: 5px;
}

@media screen and (max-width: 1350px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
}

@media (min-width: 0px) and (max-width: 1300px) {
  .partners__list {
    padding: 0 10px;
  }
  .partners__list img {
    width: 95%;
  }
  .info {
    padding-bottom: 40px;
  }
  .info p {
    max-width: 620px;
  }
  .service h2 {
    position: relative;
    left: 0;
    top: 0;
    margin: auto;
  }
  .service-img {
    display: none;
  }
  .service-list {
    left: 0;
    margin: 50px auto 0;
  }
  .service-list li {
    left: 0 !important;
  }
  .work-img {
    max-width: 390px;
  }
  .process {
    height: auto;
  }
  .process .item:nth-child(4), .process .item:nth-child(5), .process .item:nth-child(6), .process .item:nth-child(7) {
    width: 50%;
  }
  .process .item .step {
    width: 50%;
  }
  .review .title {
    width: 100%;
  }
  .review .row {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .review .item {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
  }
  .review .item-img {
    margin: 0 auto 20px;
  }
  .case .item-info {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .case .item-info p {
    margin: 15px 0;
  }
  .footer {
    margin-top: 0;
  }
}

@media screen and (max-width: 990px) {
  .container {
    max-width: 768px;
    margin: auto;
  }
  .js-menu-show {
    height: auto !important;
    visibility: visible !important;
    opacity: 1 !important;
  }
  .js-rotation:after {
    -webkit-transform: rotate(180deg) !important;
    -ms-transform: rotate(180deg) !important;
    transform: rotate(180deg) !important;
  }
  .toggle-nav {
    display: block;
  }
  .mobile-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .logo a img {
    max-width: 120px;
  }
  .navigation {
    display: none;
    position: absolute;
    right: 50px;
    top: 90px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    max-width: 320px;
    background: #3b4c9d;
    border: 2px solid #2d3a78;
    z-index: 100;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  }
  .navigation li {
    width: 100%;
  }
  .navigation li:hover {
    background: #4255b0;
  }
  .navigation a {
    border: 0;
  }
  .navigation a:hover {
    -webkit-border-radius: 0;
    border-radius: 0;
    border: 0;
  }
  .sub-menu {
    position: relative;
    top: 0px;
    width: 316px;
    height: 0;
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
  }
  .sub-menu:before {
    display: none;
  }
  .partners img {
    max-width: 90%;
  }
  .info-icons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .info .icon-box {
    position: static;
    width: 25%;
  }
  .info .icon-box img {
    width: 100%;
  }
  .info .arrow-left, .info .arrow-right {
    display: none;
  }
  .work-info {
    max-width: 100%;
  }
  .work-img {
    display: none;
  }
  .process .item-img {
    width: 100px;
    height: 100px;
  }
  .process .item-img img {
    width: 60%;
  }
  .process .item-title {
    margin-top: -30px;
  }
  .connect {
    padding: 50px 0;
  }
  .footer .row {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .footer-logo {
    max-width: 100%;
    padding-bottom: 20px;
  }
  .footer .col {
    padding-left: 20px;
  }
  .col-pages {
    max-width: 33% !important;
  }
  .col-services {
    max-width: 66% !important;
  }
}

@media screen and (max-width: 768px) {
  .process .item {
    width: 100% !important;
  }
  .service h2 span, .work h2 span, .process h2 span, .review h2 span, .case h2 span, .page-header h1 span {
    font-size: 68px;
  }
  .info {
    padding-bottom: 30px;
  }
  .info-icons {
    height: auto;
  }
  .info .icon-box {
    height: auto;
  }
  .case .item {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .case .percent {
    height: auto;
    max-width: 100%;
  }
  .case .item-info {
    padding: 40px;
  }
  .case .read-more {
    max-width: 100%;
    padding: 20px;
  }
  .connect-descr {
    font-size: 21px;
  }
  .connect h3 {
    font-size: 40px;
  }
}

@media screen and (max-width: 640px) {
  h1 {
    font-size: 35px;
  }
  .main-header h1 span:first-child {
    font-size: 50px;
  }
  .main-header h1 span:last-child {
    font-size: 50px;
  }
  .header__descr {
    font-size: 24px;
  }
  .partners {
    display: none;
  }
  .btn {
    padding: 20px;
  }
  .info {
    padding-top: 30px;
    font-size: 18px;
    text-align: justify;
  }
  .info .icon-box {
    width: 33%;
  }
  .service-list a {
    font-size: 21px;
  }
  .review .item {
    width: 100%;
  }
  .order-form button {
    padding: 7px 30px;
    line-height: 1.5;
  }
}

@media screen and (max-width: 480px) {
  .footer .row > div {
    width: 100% !important;
    max-width: 100% !important;
  }
}

@media screen and (max-width: 360px) {
  .main-header h1 span:first-child {
    font-size: 40px;
  }
  .main-header h1 span:last-child {
    font-size: 40px;
  }
  .header__descr {
    font-size: 20px;
  }
  .review .item-img {
    width: 125px;
    height: 125px;
  }
  .connect h3 {
    font-size: 30px;
  }
}
