// Color 
$color-black: #000;
$color-white: #fff;
$color-blue: #2e303c;
$color-green: #a8d04b;
$color-orage: #ff5800;
$color-yellow: #ffd229;

// Fonts 
$fa-font-path:        "../../bower_components/Font-Awesome/web-fonts-with-css/webfonts";

// attr
$default-padding: 20px;

// animation
$default-transition: all .2s ease-in;

