@import "_var.scss";
@import "../../bower_components/Font-Awesome/web-fonts-with-css/scss/fontawesome.scss";
@import "../../bower_components/Font-Awesome/web-fonts-with-css/scss/solid.scss";
@import "../../bower_components/Font-Awesome/web-fonts-with-css/scss/brands.scss";
@import "_mixins.scss";
@import "normalize.scss";
@import "fonts.scss";
@import "components.scss";


h2{
	font-family: $bold;
	font-size: 30px;
	text-transform: uppercase;
	line-height: 1.8;
	padding-left: 20px;
}

h6{
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 20px;
	text-align: center;
}


.flex, .row{
	@include display(flex);
}
.flex-center{
	@include justify-content(center);
}
.flex-between{
	@include justify-content(space-between);
}
.flex-items{
	@include align-items(center);
}
.flex-column{
	@include flex-direction(column);
}
.flex-wrap{
	@include flex-wrap(wrap);
}

.hamburger{
	display: none !important;
	@extend %fa-icon;
  	@extend .fas;
  	width: 25px;
  	height: 25px;

  	&:after{
		content: fa-content($fa-var-bars);
		position: absolute;
		left: 0;
		top: 0;
		font-size: 26px;
		color: $color-white;
	}
}

// hero
.hero{
	padding: 10px;
	background: darken($color-blue, 5%);
	color: $color-white;

	&__links a{
		display: inline-block;
		width: 35px;
		text-align: center;
		color: lighten($color-blue, 40%);
		border: 1px solid lighten($color-blue, 40%);
		border-radius: 2px;
		padding: 4px;
		transition: $default-transition;

		&:hover{
			background: lighten($color-blue, 40%);
			color: lighten($color-blue, 0%); 
		}
	}

	.search{
		position: relative;
		@extend %fa-icon;
  		@extend .fas;

		&:after{
			
			content: fa-content($fa-var-search);
			position: absolute;
			right: 7px;
			top: 8px;
			font-size: 16px;
			color: lighten($color-blue, 40%);
		}

		input{
			display: block;
			width: 220px;
			padding: 5px 35px 5px 10px;
			color: $color-white;
			font-size: 16px;
			text-align: right;
			background: lighten($color-blue, 4%);
			border: 1px solid darken($color-blue, 5%);
			transition: $default-transition;

			&:focus{
				border: 1px solid lighten($color-blue, 20%);
			}
		}
	}

}

// header
.header{
	// padding: $default-padding;
	background: $color-blue;
	color: $color-white;

	.container{
		overflow: inherit;

		.row{
			position: relative;
		}
	}

}

.logo a{
	font-family: $beer;
	font-size: 30px;
	color: $color-yellow;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}

.nav{
	display: flex;
	align-items: center;

	li{
		position: relative;
		line-height: 6.5;

		a{
			padding: 10px;
			color: $color-white;
			text-decoration: none;
			text-transform: uppercase;
			transition: $default-transition;

			&:hover{
				color: $color-yellow;
				// background: darken($color-blue, 5%);
			}
		}

		.submenu{
			position: absolute;
			left: -50%;
			top: 95px;
			min-width: 210px;
			padding: 20px;
			background: lighten($color-blue, 5%);
			transform: translateX(25%);
			opacity: 0;
			visibility: hidden;
			transition: $default-transition;
			z-index: 999;

			&:after{
				content: '';
				position: absolute;
				top: -34px;
				left: 50%;
				border: 15px solid transparent;
	    		border-bottom: 20px solid lighten($color-blue, 5%);
	    		transform: translateX(-50%);
			}

			li{
				line-height: 1;
			}
		}

		&:hover{

			.submenu{
				visibility: visible;
				opacity: 1;

				li{
					line-height: 2;
				}
			}

		}
	}
}

// MAIN

main{
	padding: $default-padding;
}

// content

.content{
	width: 100%;

	a{
		color: $color-black;
		text-decoration: none;
	}

	h1{
		font-family: $medium;
		font-size: 30px;
		margin: 20px 0 5px;
	}

	h3{
		padding: 0 10px;
		font-size: 16px;
		text-transform: uppercase;
		font-weight: bold;
		text-align: center;
	}

	.item{
		position: relative;
		width: 21%;
		margin: 2%;
		padding: 10px;
		background: $color-white;
		border: 1px solid lighten($color-blue, 50%);
		border-radius: 4px;
		transition: $default-transition;
		overflow: hidden;


		&:after{
			content: '';
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				background: transparent;
				opacity: .8;
				transition: $default-transition;
				pointer-events: none;

		}

		&:hover{
			border: 1px solid lighten($color-blue, 20%); 

			.btn-more{
				display: inline-block;
			}

			h3{
				font-size: 20px;
			}

			&:after{
				background: lighten($color-white, 10%);
			}

			&__info{
				background: blue;
			}

		}

		&__info{
			position: relative;
			text-align: center;
		}		

		&__img{
			position: relative;
			width: 100%;
			min-height: 250px;
			overflow: hidden;

			img{
				position: absolute;
				left: 50%;
				top: 50%;
				width: 100%;
				height: auto;
				transform: translate(-50%, -50%);
			}
		}

		.price{
			font-family: $medium;
			text-align: center;
			font-size: 20px;
			line-height: 2;
			font-weight: bold;
			text-transform: uppercase;
			color: $color-orange;
			transition-duration: 0s;
		}
	}

	.gallery{
		width: 48%;
		display: flex;
		flex-direction: column;	

		&__owl{
			width: 100%;
			height: auto;

			a{
				position: relative;
				display: block;
				height: 350px;
				overflow: hidden;
			}

			img{
				position: absolute;
				left: 50%;
				top: 50%;
				width: auto;
				height: 90%;
				transform: translate(-50%, -50%);
			}
		}

		&__thumbs{
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;

			a{
				position: relative;
				width: 19%;
				height: 80px;
				margin: 5px 0;
				border: 1px solid lighten($color-blue, 60%);
				overflow: hidden;
			}

			img{
				position: absolute;
				left: 50%;
				top: 50%;
				width: auto;
				height: 90%;
				transform: translate(-50%, -50%);
			}
		}
	}

	.news{
		width: 50%;

		.price{
			font-family: $medium;
			font-size: 30px;
			line-height: 1.9;
			color: $color-yellow;
		}

		.order{
			display: flex;
			justify-content: space-between;
			margin: 10px 0;

			> div {
				width: 48%;
				margin: 20px 0px;
				padding: 20px;
				background: darken($color-white, 5%);
				border: 1px solid darken($color-white, 15%);

				p{
					color: lighten($color-black, 50%);
					font-size: 14px;
					margin-bottom: 10px;
				}

				.fas{
					position: relative;
					top: 2px;
					margin-right: 10px;
					font-size: 16px;
					color: darken($color-blue, 15%);
				}

				a{
					color: $color-blue;
					font-size: 16px;

					&:hover{
						text-decoration: underline;
					}
				}
			}

			.tel-info{
				display: flex;
				padding: 5px 0;
			}
		}

		

	}
}

.item:hover .item__info{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 10px;
	right: 10px;
	z-index: 10;

	.price{
		font-size: 24px;
		color: $color-orange;
	}
}

// footer

.footer{
	background: darken($color-blue, 10%);
	padding: $default-padding;

	.row > div{
		width: 50%;
		padding: 20px 0;
		color: lighten($color-blue, 40%)
	}

	&__text{	
		max-width: 500px;
		color: lighten($color-blue, 20%);
	}

	&__links{
		text-align: right;
	}

	&__links a{
		display: inline-block;
		width: 35px;
		text-align: center;
		color: lighten($color-blue, 40%);
		border: 1px solid lighten($color-blue, 40%);
		border-radius: 2px;
		padding: 4px;
		transition: $default-transition;

		&:hover{
			background: lighten($color-blue, 40%);
			color: lighten($color-blue, 0%); 
		}
	}
}


//      MEDIA

@import "media.scss";