@import "_var.scss";
@import "../../bower_components/Font-Awesome/web-fonts-with-css/scss/fontawesome.scss";
@import "../../bower_components/Font-Awesome/web-fonts-with-css/scss/solid.scss";
@import "../../bower_components/Font-Awesome/web-fonts-with-css/scss/brands.scss";
@import "_mixins.scss";
@import "normalize.scss";
@import "fonts.scss";
@import "components.scss";


.flex, .row{
	@include display(flex);
}
.flex-center{
	@include justify-content(center);
}
.flex-between{
	@include justify-content(space-between);
}
.flex-items{
	@include align-items(center);
}
.flex-column{
	@include flex-direction(column);
}
.flex-wrap{
	@include flex-wrap(wrap);
}

// hero
.hero{
	padding: 10px;
	background: darken($color-blue, 5%);
	color: $color-white;

	&__links a{
		display: inline-block;
		width: 35px;
		text-align: center;
		color: lighten($color-blue, 40%);
		border: 1px solid lighten($color-blue, 40%);
		border-radius: 2px;
		padding: 4px;
		transition: $default-transition;

		&:hover{
			background: lighten($color-blue, 40%);
			color: lighten($color-blue, 0%); 
		}
	}

	.search{
		position: relative;
		@extend %fa-icon;
  		@extend .fas;

		&:after{
			
			content: fa-content($fa-var-search);
			position: absolute;
			right: 7px;
			top: 8px;
			font-size: 16px;
			color: lighten($color-blue, 40%);
		}

		input{
			display: block;
			width: 220px;
			padding: 5px 35px 5px 10px;
			color: $color-white;
			font-size: 16px;
			text-align: right;
			background: lighten($color-blue, 4%);
			border: 1px solid darken($color-blue, 5%);
			transition: $default-transition;

			&:focus{
				border: 1px solid lighten($color-blue, 20%);
			}
		}
	}

}

// header
.header{
	// padding: $default-padding;
	background: $color-blue;
	color: $color-white;

	.container{
		overflow: inherit;
	}
}

.logo a{
	font-size: 24px;
	color: $color-yellow;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}

.nav{
	display: flex;
	align-items: center;

	li{
		position: relative;
		line-height: 6;

		a{
			padding: 10px;
			color: $color-white;
			text-decoration: none;
			text-transform: uppercase;
			transition: $default-transition;

			&:hover{
				color: $color-yellow;
				// background: darken($color-blue, 5%);
			}
		}

		.submenu{
			position: absolute;
			left: -50%;
			top: 95px;
			min-width: 210px;
			padding: 20px;
			background: lighten($color-blue, 5%);
			transform: translateX(25%);
			opacity: 0;
			visibility: hidden;
			transition: $default-transition;

			&:after{
				content: '';
				position: absolute;
				top: -34px;
				left: 50%;
				border: 15px solid transparent;
	    		border-bottom: 20px solid lighten($color-blue, 5%);
	    		transform: translateX(-50%);
			}

			li{
				line-height: 1;
			}
		}

		&:hover{

			.submenu{
				visibility: visible;
				opacity: 1;

				li{
					line-height: 2;
				}
			}

		}
	}
}

// MAIN

main{
	padding: $default-padding;
}

// content

.content{
	width: 70%;

	.item{
		position: relative;
		width: 29%;
		margin: 2%;
		padding: 10px;
		background: $color-white;
		border: 1px solid lighten($color-blue, 50%);

		&:before{
			content: '';
			position: absolute;
			left: -2px;
			top: -2px;
			right: -2px;
			bottom: -2px;
			background: 
		}
	}
}

// aside
.sidebar{
	width: 30%;
}



//      MEDIA

@import "media.scss";