// Color 
$accent: #e8decf;
$default-blue: #393844;
	$default-blue-light: #6f8194;
$default-grey: #aaa39a;
$color-orange: #ff885d;
$color-coffee: #dbccb7;
$color-red: #ff0000;

$color-white: #fff;

// elements color
$banner-bg: #d0d4ec;
$category-bg: #f6f6f6;
	$category-bg--hover: #e8decf;


// color-btn
$color-btn-blue: #3c415e;

// Fonts 
$default-font: 'GolosText', sans-serif;
$century-font: 'Century', sans-serif;

// fontawesome path

$fa-font-path: "../../../fonts";
 

 // default effects
