// Color 
$color-blue: #347FD6;
$color-blue-dark: #3670a8;
$color-blue-lighter: #4a90e2;
$color-blue-phone: #3580bf;
$color-blue-light: #f6f9fd;
$color-white: #fff;
$color-white-dark: #e4ebf3;
$color-grey-dark: #102239;
$color-grey: #576376;
$color-green: #20C68A;

$color-new: #20bec6;

$color-h6: #0E192B;
	$color-h6-hover: rgba(14,25,43,.6);
$color-hero: #282A35;
$color-item-h6: #102239;
$color-country: #0B192D;
$color-form-border: #dfdfdf;
$color-form-bb: #f4f6f7;

$color-pre-footer: #232A34;
$color-footer: #1B2028;
$color-footer-link: #989fa9;

$color-links: #92948F;
$color-border-hero: #31333D;
$color-review-text: #4D5259;


// Fonts 
$sans: 'Open Sans', sans-serif;
$sanss: 'Open Sans Semibold', sans-serif;
$helvetica: 'Helvetica', sans-serif;
$uni-sans: 'Uni Sans', sans-serif;
$sans-bold: 'Open Sans Bold', sans-serif;