@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSansRegular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/HelveticaNeue.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Open Sans Semibold";
  src: url("../fonts/OpenSans-Semibold.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/OpenSansBold.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Uni Sans";
  src: url("../fonts/uni-sans-semibold.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}