// Color 
$color-white: #fff;
$color-black: #000;
$color-yellow: #fdca00;
$color-gray-light: #d2d2d2;
$color-blue: #008fd7;
$color-light-gray: #f7f7f7;


// Fonts 
$roboto: 'Roboto', sans-serif;
$pdf: 'PF Din Text Cond Pro', sans-serif;
