// buttons

.btn{
	display: inline-block;
	width: 100%;
	border-radius: 4px;
	font-family: $pdf;
	font-size: 28px;
	color: $color-black;
	text-decoration: none;
	font-weight: normal;
	box-shadow: 10px 10px 20px rgba(0,0,0,0.2);

	&-orange{
		position: relative;
		top: 22px;
		max-width: 340px;
		padding: 8px;
		background: linear-gradient(to bottom, rgba(254,231,0,1) 1%,rgba(253,202,0,1) 100%);
		z-index: 10;

		&:hover{
			background: linear-gradient(to bottom, rgba(253,202,0,1) 1%,rgba(254,231,0,1) 100%);
		}
	}

	&-blue{
		position: relative;
		display: block;
		width: 270px;
		height: 80px;
		padding-left: 50px;
		font-family: $pdf;
		font-size: 20px;
		text-transform: uppercase;
		color: $color-white;
		text-decoration: none;
		line-height: 80px;
		background: $color-blue;
		border: 1px solid $color-white;
		text-shadow: 2px 2px 0px rgba(0,0,0,0.3);
		box-shadow: 10px 10px 20px rgba(0,0,0,0.2);
		transition: all .2s ease-out;

		&:hover{
			background: #0584c3;
		}

		img{
			position: absolute;
			left: 20px;
			top: 20px;
		}
	}
}