// Color 
$white: #fff;
$black: #000;
$light-blue: #01c6ff;
$blue: #086fc3;
$dark-blue: #3c4e7b;
$light-grey: #f5f5f5; 

// color-text
$color-title: #0875c7;
$color-input: #3c4e7b;

$default-gradient: linear-gradient(to right, #0870c4 0%,#02bcf8 100%);



// Fonts 
$regular: 'ProximaNova-Regular', sans-serif;
$bold: 'ProximaNova-Bold', sans-serif; 