.poligon{
	-webkit-clip-path: polygon(0 0, 100% 0%, 100% 88%, 50% 100%, 0 87%);
	clip-path: polygon(0 0, 100% 0%, 100% 88%, 50% 100%, 0 87%);
}

.poligon2{
	-webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 85%);
	clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 85%);
}

.poligon-top{
	-webkit-clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 100%, 0% 100%);
	clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 100%, 0% 100%);
}

@media screen and (max-width: 990px) {
	.poligon-top{
		-webkit-clip-path: polygon(0 5%, 50% 0, 100% 5%, 100% 100%, 0% 100%);
		clip-path: polygon(0 5%, 50% 0, 100% 5%, 100% 100%, 0% 100%);
	}
}

.poligon-right{
	-webkit-clip-path: polygon(0 0, 100% 15%, 100% 85%, 0% 100%);
	clip-path: polygon(0 0, 100% 15%, 100% 85%, 0% 100%);
}

.vibrate-1 {
	-webkit-animation: vibrate-1 0.3s linear infinite both;
	        animation: vibrate-1 0.3s linear infinite both;
}

.btn{
	position: relative;
	display: inline-block;
	padding: 12px 40px;
	color: $white;
	text-transform: uppercase;
	text-decoration: none;
	background: $default-gradient;
	border: 1px solid $white;
	border-radius: 4px;
	transition: all .2s ease-out;

	&:before{
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background: $default-gradient;
		z-index: -1;
	}

	&:hover{
		background: $blue;
		transition: all .2s ease-out;
	}
}