// Color 
$color_blue: #3cb3e8;
	$color_blue_darken: #3b4c9d;
$color_white: #fff;
$color_black: #000;
$color_orange: #ffa239;
	$color_orange_contrast: #ff8e0e; 

// Fonts 
$helvetica: 'HelveticaNeueCyr', sans-serif;
$montserat: 'Montserrat', sans-serif;

// transition

$transition-default: all .2s ease-out;

// border-radius
$radius-40: 40px;