@import "_var.scss";
@import "_mixins.scss";
@import "normalize.scss";
@import "fonts.scss";
@import "components.scss";

h1{
	position: relative;
	font-size: 50px;
	font-weight: 300;
	text-transform: uppercase;
}


.flex{
	@include display(flex);;

}
.flex-center{
	@include justify-content(center);
}
.flex-between{
	@include justify-content(space-between);
}
.flex-items{
	@include align-items(center);
}
.flex-column{
	@include flex-direction(column);
}
.flex-wrap{
	@include flex-wrap(wrap);
}

.color-orange{
	color: $color_orange;
}

.color-blue{
	color: $color_blue;
}

.js-enable-mark{
	background: $color_blue !important;
}

.row{
	display: flex;
}

.service h2, .work h2, .process h2, .review h2, .case h2, .page-header h1{
	position: relative;
	font-size: 50px;
	line-height: 1.1;
	font-weight: 300;
	text-align: center;
	color: $color_blue;

	&:after{
		content: '';
		position: absolute;
		left: 50%;
		bottom: -20px;
		width: 46px;
		height: 16px;
		background: url('../img/icon-arrow-right.png') no-repeat center center / contain;
		transform: translateX(-50%);
	}

	span{
		display: block;
		font-size: 88px;
	}
}


// header

.main-header{

	h1{
		width: 100%;
		max-width: 660px;
		margin: auto;
		line-height: 1.1;
		color: $color_white;
		text-align: center;

		span{
			display: block;

			&:first-child{
				font-size: 70px;
			}

			&:last-child{
				position: relative;
				top: -4px;
				font-size: 70px;
				font-weight: bold;
				color: $color_blue;
			}
		}
	}

}
.header{
	padding: 36px 0 0;
	background: url('../img/main_header.jpg') $color_blue_darken no-repeat center top / cover;

	.container{
		padding-bottom: 50px;
	}

	&__descr{
		width: 100%;
		max-width: 620px;
		margin: 55px auto;
		font-size: 28px;
		text-align: center;
		color: $color_white;

		span:last-child{
			display: block;
		}
	}
}

.logo{
	text-align: center;

	a{
		outline: none;

		img{
			width: 100%;
			max-width: 214px;
		}
	}
}

.navigation{
	width: 100%;
	max-width: 950px;
	margin: 10px auto 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	li{
		position: relative;

		&:hover .sub-menu{
			opacity: 1;
			visibility: visible;
		}

	}

	a{
		display: block;
		padding: 16px;
		line-height: 1;
		border-radius: $radius-40;
		font-size: 18px;
		color: $color_white;
		text-transform: uppercase;
		text-decoration: none;
		border: 1px solid transparent;
		transition: $transition-default;

		&:hover{
			border-color: $color_blue;
		}
	}
}

.sub-menu{
	opacity: 0;
	visibility: hidden;
	width: 300px;
	position: absolute;
	left: 0;
	top: 70px;
	background: #3b7abf;
	z-index: 10;
	box-shadow: 5px 10px 10px rgba(0,0,0,0.1);
	transition: $transition-default;

	&:before{
		content: '';
		position: absolute;
		top: -12px;
		left: 45px;
		width: 0;
		height: 0;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 12px solid #3b7abf;
	}

	a{
		border-radius: 0;
		border: 0;
		text-transform: none;

		&:hover{

			background: $color_blue_darken;
		}
	}
}

.drop-menu{
	position: relative;

	a{
		padding-right: 40px;
	}

	&:after{
		content: '';
		position: absolute;
		right: 15px;
		top: 20px;
		width: 16px;
		height: 9px;
		background: url('../img/icon-arrow.png') no-repeat center center / contain;
		transition: $transition-default;
	}

	&:hover:after{
		transform: rotate(180deg);
	}
}


.partners{
	margin-top: 10px;
	padding: 15px 0;
	background: $color_blue_darken;

	&__list{
		width: 100%;
		max-width: 1120px;
		height: 90px;
		margin: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;

		li{
			display: flex;
			align-items: center;
			position: relative;
			height: 100%;

			&:after{
				content: '';
				position: absolute;
				left: 50%;
				bottom: -15px;
				width: 0;
				height: 0;
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
				border-bottom: 12px solid $color_white;
			}
		}
	}
}


.page-header{
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	padding-bottom: 50px;

	h1{
		color: $color_white;
		text-transform: none;

		&:after{
			background-image: url('../img/icon-arrow-right_white.png');
		}

		span{
			font-size: 70px;
		}
	}

	.container{
		overflow: inherit;
	}

	.btn-wrap{
		position: relative;
		top: 80px;
	}
}

// info

.info{
	position: relative;
	padding: 140px 0;
	font-size: 20px;

	.arrow-left{
		position: absolute;
		top: 51%;
		left: 0;
		width: 40%;
		height: 1px;
		background: $color_blue;

		&:after{
			content: '';
			position: absolute;
			right: -2px;
			top: -3px;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background: $color_blue;
		}
	}

	.arrow-right{
		position: absolute;
		top: 37%;
		right: 0;
		width: 14%;
		height: 1px;
		background: $color_blue;

		&:before{
			content: '';
			position: absolute;
			left: -2px;
			top: -3px;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background: $color_blue;
		}
	}

	.container{
		overflow: inherit;
	}

	p{
		max-width: 920px;
	}

	&-icons{
		position: relative;
		width: 100%;
		height: 250px;
		max-width: 775px;
		margin-left: auto;
		margin-right: 0;
	}

	.icon-box{
		position: absolute;

		width: 183px;
		height: 182px;

		&:nth-child(1) {
			right: 120px;
			top: -180px;
		}

		&:nth-child(2) {
			right: 30px;
			top: -90px;
		}
		&:nth-child(3) {
			right: 210px;
			top: -90px;
		}

		&:nth-child(4) {
			right: 300px;
			top: 0px;
		}

		&:nth-child(5) {
			right: 390px;
			top: 90px;
		}

		&:nth-child(6) {
			right: 480px;
			top: 0px;
		}

		&:nth-child(7) {
			right: 570px;
			top: 90px;
		}

		&:nth-child(8) {
			right: 660px;
			top: 0px;
		}
	}
}



// service

.service{
	position: relative;	
	padding: 50px 0;

	h2{
		position: absolute;
		top: 240px;
		left: 100px;
		width: 100%;
		max-width: 300px;
		z-index: 5;
	}

	.container{
		position: relative;
		overflow: inherit;
	}

	&-img{
		position: relative;
		width: 100%;
		max-width: 690px;

		img{
			position: absolute;
			left: -92%;
			top: -210px;
		}
	}

	&-list{
		position: relative;
		width: 100%;
		max-width: 660px;
		left: -30px;

		li{
			position: relative;
			display: flex;
			align-items: center;
			padding: 8px 0 10px;
			border-bottom: 1px solid lighten($color_blue, 25%);

			&:first-child, &:last-child{
				left: -80px;
			}

			&:nth-child(2), &:nth-child(7){
				left: -40px;
			}

			&:nth-child(3), &:nth-child(6){
				left: -20px;
			}
		}

		a{
			font-size: 28px;
			color: $color_black;
			text-decoration: none;

			span{
				display: block;
				font-size: 20px;
			}
		}

		.list-img{
			width: 100px;
			text-align: center;
		}
	}
}

// work

.work{
	padding: 80px 0;
	overflow: hidden;

	h2{
		margin-bottom: 60px;
	}

	.container{
		overflow: initial;
	}

	&-info{
		width: 100%;
		max-width: 660px;
	}

	&-img{
		position: relative;
		width: 100%;
		max-width: 690px;

		img{
			// position: absolute;
		}
	}

	&-list{
		font-size: 21px;
		line-height: 1.3;

		li{
			position: relative;
			padding: 10px 0;

			&:before{
				content: '';
				position: absolute;
				left: -20px;
				top: 20px;
				width: 6px;
				height: 6px;
				border-radius: 50%;
				background: $color_orange;
			}

			span{
				font-weight: bold;
			}
		}
	}
}

// process
.process{
	height: 1190px;
	padding: 100px 0;
	background: url('../img/process-bg.jpg') $color_blue_darken no-repeat center top / cover;
	clip-path: polygon(71% 0, 100% 14%, 100% 100%, 25% 92%, 0 100%, 0 14%);

	h2{
		color: $color_white;

		&:after{
			content: '';
			background-image: url('../img/icon-arrow-right_white.png');
		}
	}

	h6{
		font-size: 21px;
		font-weight: bold;
		padding: 15px 0;
	}

	.item-descr{
		position: relative;
		padding-left: 20px;

		&:before{
			content: '';
			position: absolute;
			left: 0;
			top: 10px;
			width: 6px;
			height: 6px;
			background: $color_orange;
			border-radius: 50%;
		}
	}

	.row{
		padding-top: 100px;
		flex-wrap: wrap;
	}

	.item{
		padding: 0 20px 100px 20px;
		color: $color_white;

		&:nth-child(1) {
			width: 33%;
			background: #3b57a5;

			.item-img{
				background: #3b57a5;
			}
		}

		&:nth-child(2) {
			width: 33%;
			background: #3b61ac;

			.item-img{
				background: #3b61ac;
			}
		}

		&:nth-child(3) {
			width: 34%;
			background: #3b6bb4;

			.item-img{
				background: #3b6bb4;
			}
		}

		&:nth-child(4) {
			width: 25%;
			background: #3b7abf;

			.item-img{
				background: #3b7abf;
			}
		}

		&:nth-child(5) {
			width: 25%;
			background: #3c8aca;

			.item-img{
				background: #3c8aca;
			}
		}

		&:nth-child(6) {
			width: 25%;
			background: #3c9ed9;

			.item-img{
				background: #3c9ed9;
			}
		}

		&:nth-child(7) {
			width: 25%;
			background: #3cb3e8;

			.item-img{
				background: #3cb3e8;
			}
		}



		&-img{
			display: flex;
			align-items: center;
			justify-content: center;
			width: 130px;
			height: 130px;
			border-radius: 50%;
			border: 4px solid $color_blue_darken;
		}

		&-title{
			display: flex;
			align-items: flex-end;
			margin-top: -60px;
		}

		.step{
			padding-bottom: 20px;
			padding-left: 20px;
			font-family: $montserat;
			font-weight: bold;
			font-size: 16px;
			text-transform: uppercase;

			span{
				position: relative;
				padding: 0 20px;
				margin: 0 20px;
				font-size: 37px;

				&:before{
					content: '';
					position: absolute;
					left: 0;
					top: 65%;
					height: 20px;
					width: 2px;
					transform: translateY(-50%);
					background: $color_white;
				}
			}
		}
	}
}

// review
.review{
	padding: 70px 0;

	.container{
		overflow: inherit;
	}

	.row{
		flex-wrap: wrap;
	}

	.title{
		width: 50%;
		text-align: center;

		h2{
			color: $color_blue;
		}
	}

	.item{
		display: flex;
		width: 50%;
		margin: 20px 0;
		padding: 10px;

		&-img{
			width: 205px;
			height: 205px;
			border-radius: 50%;
			border: 4px solid $color_white;
			box-shadow: 5px 20px 20px rgba(0,0,0,0.15);
			overflow: hidden;

			img{
				height: 100%;
				width: auto;
				position: relative;
				left: 50%;
				transform: translateX(-50%);
			}
		}

		&-info{
			width: 100%;
			max-width: 460px;
			padding: 0 0 0 20px;
		}
	}

	&-title{
		font-size: 28px;
	}

	&-time{
		margin-bottom: 20px;
		font-weight: bold;
		font-size: 16px;
		color: $color_blue;
	}

	&-text{
		font-size: 20px;
	}
}

// case
.case{
	padding: 50px 0;

	h2{
		text-align: center;
	}

	.container{
		overflow: inherit;
	}

	.row{
		flex-direction: column;
		padding: 50px 0 0;
	}

	.item{
		display: flex;
		align-items: center;
		width: 100%;
		border: 1px solid $color_blue;
		margin: 20px 0;
		box-shadow: 0 10px 20px rgba(0,0,0,0.15);

		&:nth-child(1) .percent{
			background: $color_blue_darken;
		}

		&:nth-child(2) .percent{
			background: $color_blue;
		}

		&:nth-child(3) .percent{
			background: $color_blue;
		}

		&-info{
			width: 100%;
			max-width: 1000px;
			display: flex;
			align-items: center;
			padding: 70px 40px;
			border-right: 1px solid $color_blue;
			border-left: 1px solid $color_blue;

			p{
				width: 100%;
				max-width: 540px;
				margin: 0 30px;
				font-size: 21px;
			}
		}
	}

	.percent{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		max-width: 	200px;
		font-family: $montserat;
		font-weight: bold;
		font-size: 21px;
		text-align: center;
		color: #fff;

		span{
			display: block;
			font-size: 50px;
		}
	}

	.read-more{
		width: 100%;
		max-width: 150px;
		text-align: center;

		a{
			text-transform: uppercase;
			color: $color_blue;
			text-decoration: none;
		}
	}
}

// connect

.connect{
	padding: 130px 0;
	text-align: center;
	background: $color_blue_darken;
	clip-path: polygon(25% 0, 100% 14%, 100% 100%, 75% 92%, 0 100%, 0 14%);

	h3{
		font-size: 50px;
		font-weight: 300;
		color: $color_white;

		span{
			font-weight: bold;
		}
	}

	&-descr{
		width: 100%;
		max-width: 890px;
		margin: auto;
		font-size: 28px;
		color: $color_white;
	}

	&-form{
		width: 100%;
		max-width: 660px;
		margin: auto;
		padding: 20px 20px 50px 20px;
		background: linear-gradient(to bottom, $color_blue_darken 50%, $color_blue 100%);
	}
}

// footer
.footer{
	margin-top: 100px;
	padding: 40px 0;
	color: $color_white;
	background: $color_blue_darken;

	&-logo {
		width: 100%;
		max-width: 320px;
		text-align: center;

		p{
			padding: 10px 0;
		}

		a img{
			max-width: 150px;
		}
	}

	.col{
		width: 100%;
		padding-left: 100px;

		ul{
			width: 100%;

			li{
				position: relative;
				padding: 3px 0;

				&:before{
					content: '';
					position: absolute;
					left: -15px;
					top: 10px;
					width: 6px;
					height: 6px;
					border-radius: 50%;
					background: $color_orange;
				}

				a{
					color: $color_white;
					text-decoration: none;

					&:hover{
						text-decoration: underline;
					}
				}
			}
		}
	}

	.col-pages{
		max-width: 25%;
	}

	.col-services{
		max-width: 50%;

		ul{
			display: flex;
			flex-wrap: wrap;

			li{
				width: 50%;
				padding-right: 20px;
			}
		}

	}

	&-title{
		padding-bottom: 15px;
		color: $color_blue;
		font-family: $montserat;
		font-weight: bold;
		text-transform: uppercase;
	}
}


// CONTENT

.main{
	width: 100%;
	padding: 80px 0;

	.content{
		width: 100%;
		max-width: 1010px;
	}

	.aside{
		width: 100%;
		max-width: 340px;

		h6{
			position: relative;
			font-family: $helvetica;
			font-weight: 300;
			color: $color_orange;
			font-size: 37px;
			text-align: center;

			&:after{
				content: '';
				position: absolute;
				left: 50%;
				bottom: -20px;
				width: 46px;
				height: 16px;
				background: url('../img/icon-arrow-right_orange.png') no-repeat center center / contain;
				transform: translateX(-50%);
			}
		}
	}
}

.page-list{
	padding-top: 50px;
	width: 100%;

	li{
		display: flex;
		align-items: center;
		padding: 7px 0;
		border-bottom: 1px solid $color_blue;

		&:hover{
			border-bottom: 1px solid $color_orange;

			.page-list__title a{
				color: $color_orange;
			}
		}

	}

	&__img{
		width: 100%;
		max-width: 65px;

		img{
			width: 80%;
			height: auto;
		}
	}

	&__title{
		width: 100%;
		max-width: 280px;

		a{
			font-size: 21px;
			color: $color_black;
			text-decoration: none;
		}
	}

}

.content{
	width: 100%;
	font-size: 21px;

	h2{
		font-family: $helvetica;
		font-weight: 300;
		font-size: 50px;
		color: $color_blue;
	}

	h6{
		font-size: 28px;
	}

	strong{
		font-weight: bold;
	}

	p{
		margin-bottom: 15px;
	}

	ul{

		li{
			position: relative;
			margin-left: 25px;
			padding: 3px 0;

			&:before{
				content: '';
				position: absolute;
				left: -15px;
				top: 15px;
				width: 6px;
				height: 6px;
				border-radius: 50%;
				background: $color_orange;
			}
		}
	}
}

// Contact us

.contact{
	position: relative;
	display: flex;
	padding: 20px;
	padding-bottom: 50px;
	box-shadow: 5px 10px 20px rgba(0,0,0,0.15);


	&-form{
		width: 100%;
		max-width: 500px;

	}

	&-service{
		width: 100%;
		max-width: 600px;
		padding: 0 25px;

		&__title{
			font-weight: bold;
			font-size: 21px;
			margin-bottom: 15px;

			span{
				display: block;
				font-size: 16px;
				font-weight: 300;
			}
		}

		.contact-list {
			display: flex;
			flex-wrap: wrap;

			li{
				width: 50%;
			}
		}
	}

	&-budget{
		width: 100%;
		max-width: 220px;

		> p{
			margin-bottom: 38px;
		}

		.contact-list p{
			font-weight: bold;
		}
	}

	&-list{
		width: 100%;

		li{
			display: flex;
			padding: 5px 0;
		}
	}

	&-mark{
		width: 20px;
		height: 20px;
		margin-right: 10px;
		background: $color_grey_light;
		border: 1px solid $color-grey_border;
		cursor: pointer;
	}

	&-button{
		width: 100%;
		max-width: 545px;
		position: absolute;
		right: 150px;
		bottom: 5px;
	}
}

//      MEDIA

@import "media.scss";