/*
	
	Author: Dmitriy Gormash
	Github: https://github.com/kanonir14
	Twitter: @kanonir
	
*/
* {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
nav, output, ruby, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html, body {
  width: 100%;
  background: transparent;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #0E192B;
  line-height: 1.4;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background: none;
  border: 0px;
  cursor: pointer;
}

img, button, a, input, textarea {
  outline: none;
}

input::-webkit-input-placeholder {
  color: rgba(11, 25, 45, 0.3);
}

input::-moz-placeholder {
  color: rgba(11, 25, 45, 0.3);
}

/* Firefox 19+ */
input:-moz-placeholder {
  color: rgba(11, 25, 45, 0.3);
}

/* Firefox 18- */
input:-ms-input-placeholder {
  color: rgba(11, 25, 45, 0.3);
}

strong {
  font-weight: bold;
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container {
  width: 1120px;
  height: auto;
  overflow: hidden;
  margin: auto;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSansRegular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/HelveticaNeue.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Open Sans Semibold";
  src: url("../fonts/OpenSans-Semibold.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/OpenSansBold.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Uni Sans";
  src: url("../fonts/uni-sans-semibold.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

.btn {
  display: inline-block;
  min-width: 190px;
  margin: 30px 0;
  padding: 20px 40px;
  font-family: "Open Sans Bold", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all .15s ease-out;
  -o-transition: all .15s ease-out;
  transition: all .15s ease-out;
}

.btn-white {
  background: #fff;
  color: #347FD6;
}

.btn-green {
  background: #20C68A;
  color: #fff;
}

.btn:hover {
  position: relative;
  top: -3px;
  -webkit-box-shadow: 1px 5px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 5px 3px rgba(0, 0, 0, 0.2);
}

.link {
  font-family: "Open Sans Bold", sans-serif;
  text-decoration: none;
}

.link-blue {
  color: #347FD6;
}

.order-form {
  width: 100%;
}

.order-form .form-group {
  position: relative;
  margin: 0 0 20px;
}

.order-form .form-group:last-child {
  margin-bottom: 0;
}

.order-form .form-group span {
  margin-left: 25px;
  position: relative;
  top: -3px;
  color: rgba(11, 25, 45, 0.3);
}

.order-form input[type="text"], .order-form input[type="email"] {
  width: 100%;
  min-height: 50px;
  padding: 10px 15px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #dfdfdf;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: rgba(11, 25, 45, 0.3);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.order-form button {
  position: absolute;
  right: 4px;
  top: 4px;
  bottom: 4px;
  width: 100px;
  height: 42px;
  padding: 0 10px;
  background: #4a90e2;
  font-family: "Open Sans Bold", sans-serif;
  color: #fff;
  text-transform: uppercase;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

#check {
  position: relative;
  display: none;
}

#check:checked + label {
  background: url("../img/check.png");
  border: 0;
}

#check + label {
  position: absolute;
  display: block;
  width: 18px;
  height: 18px;
  background: transparent;
  border: 2px solid #347FD6;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.sprite {
  margin-top: 5px;
  margin-right: 5px;
  display: inline-block;
  background: url("../img/satisfaction-sprite.svg") no-repeat;
}

.star {
  width: 153px;
  height: 17px;
  background-position: 100% 0;
  -webkit-background-size: 69% 69%;
  background-size: 69%;
}

.visa {
  width: 37px;
  height: 27px;
  background-position: 8.7% 61%;
  -webkit-background-size: 273% 273%;
  background-size: 273%;
}

.mastercard {
  width: 40px;
  height: 27px;
  background-position: 5.7% 100%;
  -webkit-background-size: 252% 252%;
  background-size: 252%;
}

.pci-dss {
  width: 55px;
  height: 27px;
  background-position: 10% 23%;
  -webkit-background-size: 340% 340%;
  background-size: 340%;
}

.fb {
  width: 25px;
  height: 26px;
  background-position: -90px -90px;
  -webkit-background-size: 691% 691%;
  background-size: 691%;
}

.fb:hover {
  background-position: -90px -117px;
}

.twitter {
  width: 25px;
  height: 26px;
  background-position: -148px -90px;
  -webkit-background-size: 693% 693%;
  background-size: 693%;
}

.twitter:hover {
  background-position: -148px -117px;
}

.google {
  width: 25px;
  height: 26px;
  background-position: -119px -90px;
  -webkit-background-size: 693% 693%;
  background-size: 693%;
}

.google:hover {
  background-position: -119px -117px;
}

.hamburger {
  position: absolute;
  left: 100px;
  top: -13px;
  width: 36px;
  height: 22px;
  background-image: url("../img/nav.png");
  cursor: pointer;
  -webkit-background-size: cover;
  background-size: cover;
  z-index: 100;
}

.triangle {
  position: absolute;
  right: -3px;
  top: 10px;
  width: 7px;
  height: 6px;
  background: url("../img/triangle.png") no-repeat;
  cursor: pointer;
}

.arrow {
  display: inline-block;
  position: relative;
  top: 2px;
  left: 5px;
  background: url("../img/arrow-form.svg") no-repeat;
  width: 14px;
  height: 12px;
}

h1 {
  font-family: "Open Sans Bold", sans-serif;
  font-size: 30px;
  margin-bottom: 15px;
  letter-spacing: -.29px;
}

h2 {
  font-size: 36px;
  margin-top: 15px;
  margin-bottom: 25px;
}

h3 {
  color: #347FD6;
  font-size: 22px;
  margin-bottom: 5px;
}

h4 {
  font-family: "Open Sans Bold", sans-serif;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 22px;
}

h5 {
  font-family: "Open Sans Bold", sans-serif;
  color: #0B192D;
  text-transform: uppercase;
  margin: 20px 0;
}

h6 {
  font-family: "Open Sans Semibold", sans-serif;
  font-size: 17px;
  color: #0E192B;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.flex-center {
  -webkit-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flex-between {
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flex-items {
  -webkit-align-items: center;
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-column {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.flex-wrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.is-open {
  visibility: visible !important;
  opacity: 1 !important;
}

.transform {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.margin80 {
  margin-bottom: 80px;
}

.menu-margin {
  margin-bottom: 60px !important;
}

.hero {
  position: relative;
  background: #282A35;
  text-align: center;
  z-index: 10;
}

.hero li {
  width: 11%;
  padding: 10px 0;
  text-align: center;
}

.hero li:hover a {
  color: #fff;
}

.hero li:not(:last-child) {
  border-right: 1px solid #31333D;
}

.hero li a {
  font-size: 12px;
  color: #92948F;
  text-decoration: none;
}

.hero li a span {
  font-family: "Uni Sans", sans-serif;
}

.header {
  position: relative;
  padding: 80px 0 40px;
  min-height: 850px;
  background: -webkit-linear-gradient(315deg, #29aef0 0%, #3480d6 100%);
  background: -o-linear-gradient(315deg, #29aef0 0%, #3480d6 100%);
  background: linear-gradient(135deg, #29aef0 0%, #3480d6 100%);
}

.header:after {
  content: '';
  width: 100%;
  height: 45%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, right bottom, left top, color-stop(50%, #fff), color-stop(49%, transparent));
  background: -webkit-linear-gradient(right bottom, #fff 50%, transparent 49%);
  background: -o-linear-gradient(right bottom, #fff 50%, transparent 49%);
  background: linear-gradient(to left top, #fff 50%, transparent 49%);
  pointer-events: none;
}

.header-info {
  padding: 60px 0;
  max-width: 340px;
  color: #fff;
}

.header-info p {
  line-height: 24px;
}

.header-link {
  position: relative;
  display: inline-block;
  max-width: 444px;
  width: 100%;
  min-height: 31px;
  margin: 60px 0 20px;
  padding: 4px 25px 4px 5px;
  background: #3670a8;
  color: #e4ebf3;
  text-decoration: none;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

.header-link span {
  position: relative;
  font-size: 14px;
}

.header-link span:nth-child(2):after {
  content: '';
  background: url("../img/arrow-right.svg") no-repeat;
  width: 6px;
  height: 9px;
  position: absolute;
  top: 7px;
  right: -18px;
  font-size: 20px;
  color: #e4ebf3;
}

.header-link__status {
  display: inline-block;
  padding: 3px 10px;
  margin-right: 10px;
  background: #20bec6;
  text-transform: uppercase;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  width: 55px;
  height: 26px;
}

.navigation {
  position: relative;
}

.navigation .menu, .navigation .lang-menu {
  position: absolute;
  top: 30px;
  left: -90px;
  min-width: 240px;
  background: #fff;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 23px;
  font-family: "Open Sans Bold", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  z-index: 99;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.navigation .menu:after, .navigation .lang-menu:after {
  content: '';
  position: absolute;
  top: -19px;
  right: 29px;
  border: 10px solid transparent;
  border-bottom: 10px solid #fff;
}

.navigation .menu li, .navigation .lang-menu li {
  margin-bottom: 20px;
}

.navigation .menu li:last-child, .navigation .lang-menu li:last-child {
  margin-bottom: 0;
}

.navigation .menu a, .navigation .lang-menu a {
  color: #232A34;
  text-decoration: none;
}

.navigation .menu a:hover, .navigation .lang-menu a:hover {
  text-decoration: underline;
}

.navigation .lang-menu {
  top: 40px;
}

.navigation .lang-menu li {
  margin-bottom: 10px;
}

.navigation .lang-menu:after {
  content: '';
  position: absolute;
  top: -19px;
  right: 113px;
  border: 10px solid transparent;
  border-bottom: 10px solid #fff;
}

.navigation .lang-menu a img {
  position: relative;
  top: 6px;
  margin-right: 10px;
}

.lang img {
  width: 35px;
  height: 25px;
}

.tablet {
  position: absolute;
  right: 50%;
  top: 32px;
  -webkit-transform: translateX(100%) rotate(-14deg);
  -ms-transform: translateX(100%) rotate(-14deg);
  transform: translateX(100%) rotate(-14deg);
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.card {
  position: absolute;
  right: 50%;
  top: 650px;
  -webkit-transform: rotate(-13.5deg) translateX(137%);
  -ms-transform: rotate(-13.5deg) translateX(137%);
  transform: rotate(-13.5deg) translateX(137%);
  z-index: 2;
}

.about {
  padding: 35px 0 60px;
}

.about .item {
  width: 33%;
  max-width: 315px;
}

.about .item-img {
  margin-right: 15px;
  margin-bottom: 5px;
}

.about .item p {
  margin-top: 12px;
  color: rgba(14, 25, 43, 0.6);
}

.platform {
  padding: 50px 0;
  background: #f6f9fd;
}

.platform .container {
  overflow: initial;
}

.platform__left {
  width: 33%;
}

.platform-title {
  margin-bottom: 80px !important;
}

.platform__right {
  width: 66%;
}

.platform .row .item {
  margin: 30px 0;
}

.platform .row .item:nth-child(1) {
  margin-bottom: 60px;
}

.platform .row:nth-child(1) {
  margin-top: 30px;
}

.platform .item {
  max-width: 315px;
  margin-bottom: 30px;
}

.platform .item-img {
  margin-right: 15px;
  width: 10%;
  max-width: 40px;
}

.platform .item-img img {
  height: auto;
}

.platform .item-text {
  color: rgba(14, 25, 43, 0.6);
  width: 90%;
}

.platform .item-text a {
  color: #347FD6;
  text-decoration: none;
}

.platform .item-text h6 {
  color: #102239;
  margin-bottom: 5px;
}

.refer .container {
  overflow: initial;
}

.refer-text {
  font-size: 18px;
}

.refer .row {
  padding: 75px 0;
  border-bottom: 1px solid #e4ebf3;
}

.country {
  position: relative;
  padding: 60px 0;
}

.country__left {
  width: 58%;
}

.country__right {
  width: 40%;
}

.country__right .btn {
  font-size: 14px;
}

.country__right .link-blue {
  font-size: 14px;
}

.country .container {
  position: relative;
  overflow: initial;
  z-index: 10;
}

.country .flags {
  margin-bottom: 20px;
}

.country .flags li {
  width: 20%;
  margin: 15px 0;
  position: relative;
}

.country .flags li p {
  padding-left: 5px;
  font-size: 14px;
  color: #0B192D;
}

.country .mobile-flex {
  padding-bottom: 35px;
  border-bottom: 1px solid #e4ebf3;
}

.country .currency {
  margin-top: 40px;
}

.country .currency .cripto {
  border-bottom: 0;
}

.country .currency .cripto li {
  position: relative;
  left: -5px;
}

.country .currency .cripto li p {
  max-width: 90px;
  text-align: center;
}

.country .form {
  position: relative;
  width: 100%;
  max-width: 450px;
  padding: 40px 40px 30px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background: #fff;
}

.country .form p {
  font-size: 14px;
}

.country .form h6 {
  margin-bottom: 10px;
}

.country .form-descr {
  max-width: 220px;
}

.country .form-credit {
  position: absolute;
  right: -145px;
  top: 39px;
  max-width: 350px;
}

.country .form-text {
  position: relative;
  margin: 80px 0 18px;
}

.country .form-text:after {
  content: '';
  position: absolute;
  top: -40px;
  left: -40px;
  right: -40px;
  height: 1px;
  background: #f4f6f7;
}

.phone {
  position: relative;
  background: #3580bf;
  margin-top: -440px;
  padding: 440px 0 40px;
}

.phone:after {
  content: '';
  width: 100%;
  height: 45%;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(50%, #fff), color-stop(49%, transparent));
  background: -webkit-linear-gradient(left top, #fff 50%, transparent 49%);
  background: -o-linear-gradient(left top, #fff 50%, transparent 49%);
  background: linear-gradient(to right bottom, #fff 50%, transparent 49%);
  pointer-events: none;
}

.phone .row {
  padding-top: 30px;
}

.phone-img {
  width: 50%;
  text-align: center;
}

.phone-info {
  width: 50%;
}

.phone-info p {
  max-width: 400px;
  color: #fff;
  margin-bottom: 40px;
}

.phone-info img {
  margin-bottom: 30px;
}

.phone-info a {
  float: left;
  display: block;
  width: 215px;
  height: 64px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  margin-right: 15px;
  -webkit-box-shadow: 0px 5px 24px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 5px 24px rgba(0, 0, 0, 0.14);
}

.phone-info a:first-child {
  margin-right: 35px;
}

.phone-info a img {
  vertical-align: bottom;
}

.phone-info a:hover {
  position: relative;
  top: -3px;
  -webkit-box-shadow: 1px 5px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 5px 3px rgba(0, 0, 0, 0.2);
}

.partnership {
  padding: 60px 0;
}

.partnership li {
  width: 14%;
  text-align: center;
}

.partnership li img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.review {
  padding: 50px 0;
  color: #4D5259;
  font-size: 14px;
}

.review .container {
  position: relative;
  height: 200px;
  -webkit-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.review .gradient {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(47%, rgba(246, 246, 246, 0.47)), to(white));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(246, 246, 246, 0.47) 47%, white 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(246, 246, 246, 0.47) 47%, white 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(246, 246, 246, 0.47) 47%, white 100%);
}

.review h6 {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 15px;
}

.review .text-1, .review .text-2, .review .review-list {
  margin-bottom: 40px;
}

.review .review-list {
  list-style: disc;
}

.review .review-list li {
  margin-left: 30px;
  margin-bottom: 5px;
}

.review .btn-group {
  margin-top: 0px;
  text-align: center;
}

.review .btn-group a {
  display: inline-block;
  border-bottom: 2px dashed #347FD6;
}

footer {
  padding: 30px 0 0;
  background: #232A34;
  color: #989fa9;
}

footer .col {
  width: 20%;
}

footer .col h4 {
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
}

footer .col a {
  font-size: 12px;
  color: #989fa9;
  text-decoration: none;
}

footer .col a:hover {
  color: #fff;
  text-decoration: underline;
}

footer .col-last {
  font-size: 9px;
  text-transform: uppercase;
  text-align: right;
}

footer .users {
  margin-top: -27px;
  color: #4a90e2;
}

footer .xl {
  font-size: 31px;
}

footer .payment, footer .social {
  margin-top: 10px;
  float: right;
}

footer .after-footer {
  margin-top: 30px;
  background: #1B2028;
  padding: 15px 0;
  text-align: center;
  font-size: 12px;
}

@media screen and (max-width: 1119px) {
  .container {
    width: 100%;
    max-width: 1120px;
    padding: 0 15px;
    margin: auto;
  }
  .mobile-hidden {
    display: none;
  }
  .hero li {
    width: 20%;
  }
  .hero li:nth-child(6), .hero li:nth-child(7), .hero li:nth-child(8), .hero li:nth-child(9) {
    display: none;
  }
  .tablet {
    top: 158px;
  }
  .card {
    top: 772px;
    -webkit-transform: rotate(-13.5deg) translateX(147%);
    -ms-transform: rotate(-13.5deg) translateX(147%);
    transform: rotate(-13.5deg) translateX(147%);
  }
  .about {
    padding-top: 140px;
  }
  .about .item {
    max-width: 215px;
  }
  .platform__left {
    width: 100%;
    max-width: 768px;
    margin: auto;
  }
  .platform__right {
    display: none;
  }
  .platform-text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .platform-text > * {
    width: 50%;
  }
  .platform .row {
    max-width: 660px;
    margin: auto;
  }
  .refer-text {
    width: 60%;
  }
  .refer .btn-wrap {
    width: 40%;
    text-align: center;
  }
  .country .container {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .country .container > div {
    width: 100%;
  }
  .country__left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .mobile-flex {
    width: 46%;
  }
  .country .currency {
    margin-top: 0;
    width: 46%;
  }
  .country .flags li {
    width: 25%;
  }
  .country .flags {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    border-bottom: 0px;
  }
  .country .form {
    max-width: 800px;
    margin: auto;
  }
  .country .form-credit {
    right: 0;
    top: 50px;
  }
  .country .form-descr {
    max-width: 440px;
  }
  .partnership {
    padding-bottom: 0;
  }
  .partnership ul {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .partnership ul li {
    width: 18%;
    margin: 10px 0;
  }
  .phone-info a {
    display: block;
    margin: 15px 0;
  }
  footer .users {
    position: relative;
    left: -32px;
    width: 185px;
  }
  .phone-info {
    padding-left: 80px;
  }
  .triangle {
    left: 50px;
    right: auto;
  }
  .platform__left .item-text p {
    margin-bottom: 0;
  }
  .country .mobile-flex {
    border-bottom: 0px;
  }
  .country .form-text {
    margin-top: 140px;
  }
  .phone:after {
    height: 35%;
  }
  .platform .row:nth-child(1) {
    margin-top: 0;
  }
  .refer .row {
    padding: 50px 0;
  }
}

@media screen and (min-width: 801px) and (max-width: 1119px) {
  .about .item {
    max-width: 250px;
  }
}

@media screen and (max-width: 800px) {
  .navigation {
    width: 100%;
  }
  .hamburger {
    left: auto;
    right: 30px;
  }
  .navigation .menu {
    left: auto;
    right: 0;
  }
  .country .form {
    max-width: 100%;
  }
  .country .form-descr {
    max-width: 350px;
  }
}

@media screen and (max-width: 767px) {
  .mobile-hidden {
    display: none;
  }
  .about .row {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .about .item {
    width: 100%;
    max-width: 100%;
    margin: 15px 0;
  }
  .phone-info {
    padding-left: 15px;
  }
  .phone-img img {
    max-width: 100%;
  }
  footer .row {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  footer .col {
    margin-bottom: 10px;
    width: 33%;
  }
  footer .col-last {
    text-align: left;
  }
  footer .payment, footer .social {
    float: none;
  }
  .platform .row .item {
    width: 50%;
    margin: 0;
    margin-bottom: 55px;
  }
  footer .users {
    left: auto;
    width: auto;
  }
  .country .form-credit {
    right: -120px;
  }
  .phone {
    margin-top: -200px;
    padding-top: 200px;
    padding-bottom: 0;
  }
  .phone img {
    vertical-align: bottom;
  }
  .phone:after {
    height: 20%;
  }
}

@media screen and (max-width: 680px) {
  .country-hidden {
    display: none;
  }
  h4 {
    margin-bottom: 25px;
  }
  .btn-green {
    min-width: 100%;
  }
  .hero li {
    width: 33%;
  }
  .hero li:nth-child(4), .hero li:nth-child(5), .hero li:nth-child(6), .hero li:nth-child(7), .hero li:nth-child(8), .hero li:nth-child(9) {
    display: none;
  }
  .container {
    max-width: 480px;
  }
  .tablet, .card {
    display: none;
  }
  .header {
    min-height: auto;
  }
  .header:after {
    height: 15%;
  }
  .header-link span {
    font-size: 14px;
  }
  .about {
    padding-top: 50px;
    padding-bottom: 0;
  }
  .about .item {
    margin: 25px auto 45px;
  }
  .about .item-img {
    margin-right: 20px;
  }
  .platform {
    padding: 40px 0;
  }
  .platform-text {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .platform-text > * {
    width: 100%;
  }
  .platform-text h2 br {
    display: none;
  }
  .platform .item-img {
    margin-right: 25px;
  }
  .platform .item {
    max-width: 100%;
  }
  .platform-title {
    margin-bottom: 50px !important;
  }
  .refer .row {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .refer-text {
    width: 100%;
  }
  .refer .btn-group {
    text-align: center;
    width: 100%;
  }
  .country {
    padding: 25px 0;
  }
  .country__left {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .mobile-flex, .country .currency {
    width: 100%;
  }
  .country .form-credit {
    right: -177px;
  }
  .country .form-descr {
    max-width: 300px;
  }
  .phone {
    padding-bottom: 55px;
  }
  .phone-img {
    display: none;
  }
  .phone-info {
    width: 100%;
  }
  .partnership ul li {
    width: 25%;
  }
  footer .row {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  footer .col {
    margin-bottom: 25px;
  }
  .platform .row .item {
    width: 100%;
  }
  .platform {
    padding-bottom: 0;
  }
  .refer .row {
    padding-bottom: 35px;
  }
  .country .mobile-flex {
    padding-bottom: 0;
  }
  .country .currency .cripto li img {
    width: 70px;
    height: 70px;
  }
  .country .form-text {
    margin-top: 50px;
  }
  .country .form-text::after {
    top: -20px;
  }
  .phone-info p {
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 550px) {
  .country .form-credit {
    right: -167px;
  }
}

@media screen and (max-width: 479px) {
  h2 {
    font-size: 24px;
    letter-spacing: -0.23px;
  }
  h4 {
    margin-bottom: 20px;
  }
  h5 {
    margin: 40px 0 25px;
  }
  .mobile-hidden {
    display: block;
  }
  .country .mobile-flex {
    border-bottom: 1px solid #e4ebf3;
  }
  .hamburger {
    left: auto;
    right: 2px;
  }
  .navigation .menu {
    left: auto;
    right: 0;
  }
  .navigation .menu:after {
    right: 10px;
  }
  .navigation .lang-menu {
    left: -132px;
  }
  .navigation .lang-menu:after {
    left: 150px;
    right: auto;
  }
  .header-link span:nth-child(2)::after {
    top: 6px;
    right: -6px;
  }
  .header-link {
    position: relative;
    left: -15px;
    right: -15px;
    width: 112%;
    max-width: 480px;
    display: block;
    -webkit-border-radius: 0;
    border-radius: 0;
    padding: 8px 20px 4px 12px;
    height: 43px;
  }
  .header-link span:nth-child(2) {
    position: relative;
    top: 1px;
  }
  .header-link__status {
    width: 38px;
    height: 19px;
    font-size: 8px !important;
    padding: 4px 10px;
  }
  .platform__left p {
    text-align: justify;
  }
  .country .flags li p {
    font-size: 12px;
  }
  .country .flags li img {
    max-width: 70px;
    height: auto;
  }
  .country .form-credit {
    top: 30px;
  }
  .country .currency {
    margin-bottom: 15px;
  }
  .country .currency .cripto li p {
    max-width: 70px;
  }
  .country .form {
    padding: 20px;
  }
  .country .form-descr {
    max-width: 180px;
  }
  .order-form .form-group span {
    font-size: 14px;
  }
  .partnership ul li {
    width: 33%;
  }
  .partnership ul li img {
    max-width: 100%;
  }
  .review {
    text-align: justify;
  }
  footer .col {
    width: 50%;
  }
  footer .after-footer {
    padding-left: 40px;
    padding-right: 40px;
  }
  .phone-info p {
    font-size: 14px;
  }
  .refer .row {
    border-width: 2px;
    padding: 35px 0 23px;
  }
  .country {
    padding: 0;
  }
  .phone {
    padding-bottom: 55px;
  }
  .phone-info p {
    margin-bottom: 45px;
  }
  .phone-info img {
    margin-bottom: 40px;
  }
  .country .mobile-flex {
    padding-bottom: 40px;
  }
  .logo img {
    width: 171px;
    height: auto;
  }
  .header {
    padding-top: 35px;
  }
  .header-link {
    margin-top: 35px;
  }
  .header-info {
    padding-top: 11px;
  }
}

@media (min-width: 420px) and (max-width: 479px) {
  .country .form-descr {
    max-width: 240px;
  }
}

@media screen and (max-width: 380px) {
  .country .form-credit {
    max-width: 235px;
    right: -150px;
    height: auto;
  }
}

@media screen and (max-width: 450px) {
  .mobile-hiddenn {
    display: none;
  }
  .header-link span:nth-child(2)::after {
    right: -10px;
  }
}

@media (min-width: 450px) and (max-width: 479px) {
  .header-link span:nth-child(2)::after {
    right: -10px;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
  #check:checked + label {
    background: url("../img/check@2x.png");
    -webkit-background-size: cover;
    background-size: cover;
  }
  form button {
    right: 4px !important;
    top: 6px !important;
    bottom: 4px !important;
  }
}

@media screen and (max-height: 415px) {
  .header-link span {
    font-size: 14px;
  }
}
