* {
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

html, body, div, span, object, iframe,
h1,
.about h4, h2, h3, .about h5, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
nav, output, ruby, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html, body {
  width: 100%;
  background: transparent;
  font-family: "GolosText", sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: #393844;
  line-height: 1.4;
  background: #e8decf;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background: none;
  border: 0px;
  cursor: pointer;
}

img, button, a, input, textarea {
  outline: none;
  border: 0;
  box-shadow: 0 0 0 black;
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input {
  font-family: "GolosText", sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input::-webkit-input-placeholder {
  color: #000;
}

input::-moz-placeholder {
  color: #000;
}

/* Firefox 19+ */
input:-moz-placeholder {
  color: #000;
}

/* Firefox 18- */
input:-ms-input-placeholder {
  color: #000;
}

strong {
  font-weight: bold;
}

.primary li {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1350px;
  height: auto;
  overflow: hidden;
  margin: auto;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSansRegular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Century";
  src: url("../fonts/CenturyGothic.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Century";
  src: url("../fonts/CenturyGothic-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "GolosText";
  src: url("../fonts/GolosText-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "GolosText";
  src: url("../fonts/GolosText-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "GolosText";
  src: url("../fonts/GolosText-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "GolosText";
  src: url("../fonts/GolosText-Black.woff2") format("woff2");
  font-style: normal;
  font-weight: 900;
}

i.icon-email {
  display: inline-block;
  width: 23px;
  height: 16px;
  margin-right: 5px;
  background: url("../img/icon/icon-email.png");
  background-size: contain;
}

i.icon-telegram {
  display: inline-block;
  position: relative;
  top: 2px;
  width: 22px;
  height: 18px;
  margin-right: 5px;
  background: url("../img/icon/icon-telegram.png");
  background-size: contain;
}

.basket {
  min-width: 46px;
  height: 46px;
  border-radius: 50%;
  transition: all .2s ease-out;
}

.basket-link {
  display: block;
  position: relative;
  width: 46px;
  height: 46px;
  line-height: 46px;
  border-radius: 50%;
  background: #ff885d;
  transition: all .2s ease-out;
}

.basket-link:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 19px;
  background: url("../img/icon/icon-basket.png") no-repeat center center/contain;
  transform: translate(-50%, -50%);
}

.basket--count {
  position: absolute;
  left: 30px;
  top: 0;
  min-width: 15px;
  height: 15px;
  padding: 0 2px 0 3px;
  font-size: 12px;
  color: #ff885d;
  line-height: 15px;
  background: #fff;
  border-radius: 30px;
  text-align: center;
}

.basket:hover {
  box-shadow: 6px 6px 13px rgba(255, 136, 93, 0.57);
}

.btn {
  position: relative;
  display: inline-block;
  font-weight: 500;
  text-decoration: none;
  border-radius: 40px;
  transition: all .2s ease-out;
}

.btn:hover {
  text-decoration: none;
}

.btn-blue {
  padding: 20px 28px;
  background: #3c415e;
  font-size: 24px;
  color: #d0d4ec;
  box-shadow: 7px 7px 16px rgba(60, 65, 94, 0.6);
}

.btn-blue:hover {
  box-shadow: 0 0 0 rgba(60, 65, 94, 0.6);
}

.btn-orange {
  padding: 20px 28px;
  background: #ff885d;
  font-size: 24px;
  color: #e8decf;
  box-shadow: 7px 7px 16px rgba(255, 136, 93, 0.6);
}

.btn-orange:hover {
  box-shadow: 0 0 0 rgba(255, 136, 93, 0.6);
}

.btn-card {
  padding: 12px 12px 12px 35px;
  color: #fff;
  font-size: 19px;
  font-weight: 500;
  background: #ff885d;
  border-radius: 10px;
  box-shadow: 0px 0px 0 rgba(255, 136, 93, 0);
}

.btn-card:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 10px;
  width: 18px;
  height: 19px;
  background: url("../img/icon/icon-basket.png") no-repeat center center/contain;
  transform: translateY(-50%);
}

.btn-card:hover {
  box-shadow: 7px 7px 16px rgba(255, 136, 93, 0.6);
}

.btn-card--xl {
  padding: 15px 12px 15px 35px;
  font-size: 24px;
  box-shadow: 7px 7px 16px rgba(255, 136, 93, 0.6);
}

.btn-card--xl:hover {
  box-shadow: 0px 0px 0 rgba(255, 136, 93, 0);
}


h1,
.about h4 {
  font-family: "Century", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.1;
}

h2 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 40px;
}

h3, .about h5 {
  font-family: "GolosText", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
}

.flex {
  display: flex;
}

.flex-center {
  -ms-justify-content: center;
  justify-content: center;
}

.flex-between {
  -ms-justify-content: space-between;
  justify-content: space-between;
}

.flex-items {
  -ms-align-items: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.wrapper {
  width: 100%;
  max-width: 1600px;
  margin: auto;
  padding: 0 122px 85px;
  background: #fff;
  box-shadow: 0 0 49px 4px rgba(0, 0, 0, 0.09);
}

.header {
  width: 100%;
  max-width: 1350px;
  margin: auto;
}

.header .container {
  overflow: inherit;
}

.header-inner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 85px;
}

.header-search {
  position: relative;
  width: 100%;
  max-width: 330px;
  margin-right: 30px;
}

.header-search:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 15px;
  width: 18px;
  height: 18px;
  background: url("../img/icon/icon-search.png") no-repeat center center/contain;
  transform: translateY(-50%);
}

.header-search input {
  display: block;
  width: 100%;
  max-width: 330px;
  padding: 0 40px;
  background: #dbccb7;
  border-radius: 30px;
  line-height: 46px;
}

.header-search input:focus {
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
}

.navigation {
  width: 100%;
}

.navigation .container {
  display: flex;
  align-items: center;
}

.logo {
  width: 100%;
  max-width: 169px;
  height: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nav {
  display: flex;
  margin-left: 110px;
  line-height: 100px;
}

.nav li {
  padding: 0 25px;
}

.nav li a {
  color: #aaa39a;
  text-decoration: none;
}

.nav li a:hover {
  color: #393844;
}

.banner {
  position: relative;
  width: 100%;
  background: #d0d4ec;
  border-radius: 30px;
}

.banner.reverse {
  background: #e8decf;
}

.banner.reverse:before {
  left: 0;
  width: 770px;
  transform: scale(-1, 1);
  background-size: 100% 100%;
}

.banner.reverse .banner-inner {
  flex-direction: row-reverse;
}

.banner.reverse .banner-info {
  text-align: right;
}

.banner.reverse h1, .banner.reverse .about h4, .about .banner.reverse h4 {
  color: #aaa39a;
}

.banner:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 997px;
  background: url("../img/banner-shadow.png") no-repeat right bottom/cover;
  border-radius: 30px;
  pointer-events: none;
}

.banner .container {
  overflow: inherit;
}

.banner h1, .banner .about h4, .about .banner h4 {
  margin-bottom: 15px;
  font-size: 34px;
  color: #6f8194;
}

.banner h3, .banner .about h5, .about .banner h5 {
  margin-bottom: 50px;
}

.banner-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
}

.banner-info {
  width: 50%;
  max-width: 50%;
}

.banner-img {
  position: relative;
  top: -55px;
}

.home main {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding-top: 75px;
}

.category {
  width: 100%;
  padding-bottom: 70px;
}

.category-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px 0;
}

.category-list .item {
  width: calc(20% - 20px);
  margin: 10px;
  padding: 25px;
  color: #393844;
  text-align: center;
  text-decoration: none;
  background: #f6f6f6;
  border-radius: 30px;
  transition: all .2s ease-out;
  box-shadow: 0 0 0 rgba(219, 209, 193, 0.6);
}

.category-list .item:hover {
  background: #e8decf;
  box-shadow: 7px 7px 16px rgba(219, 209, 193, 0.6);
}

.products {
  width: 100%;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px 0;
}

.card {
  width: calc(25% - 20px);
  margin: 25px 10px;
}

.card h5 {
  font-size: 20px;
  font-weight: 500;
}

.card h5 a {
  color: #393844;
}

.card:hover .card-view {
  opacity: 1;
  visibility: visible;
}

.card-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.card-category a {
  color: #aaa39a;
  font-size: 15px;
  text-decoration: none;
}

.card-category a:hover {
  text-decoration: underline;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}

.card-img {
  position: relative;
  width: 100%;
  min-height: 205px;
  max-height: 205px;
  border-radius: 30px;
  overflow: hidden;
}

.card-img img {
  width: 100%;
}

.card-view {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  transition: all .4s ease-out;
}

.card-view:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  transform: translate(-50%, -50%);
  background: url("../img/icon/icon-view.png") no-repeat center center/contain;
}

.card .rating {
  margin-right: 10px;
}

.rating-star {
  display: inline-block;
  width: 11px;
  height: 11px;
  background: url("../img/rating-active.png") no-repeat center center/contain;
}

.price {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.price .old-price {
  position: relative;
  font-size: 22px;
  color: #aaa39a;
}

.price .old-price:after {
  content: '/';
  font-weight: 500;
  margin-left: 10px;
}

.price .new-price {
  font-size: 26px;
  margin-left: 10px;
}

.about {
  padding: 100px 0;
}

.about-inner {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.about-inner .col:first-child {
  width: 33%;
}

.about-inner .col:not(:first-child) {
  width: 25%;
  text-align: center;
}

.about h4 {
  font-size: 36px;
  color: #6f8194;
}

.about h5 {
  padding: 10px 0;
  font-size: 24px;
}

.contacts {
  max-width: 500px;
  margin-left: auto;
}

.contacts ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.contacts ul li {
  padding: 0 10px;
  text-align: right;
}

.contacts ul li a {
  color: #393844;
}

.contacts ul li:last-child {
  width: 100%;
  text-align: right;
}

.content {
  width: 100%;
  margin-bottom: 60px;
  padding: 15px 70px 70px 70px;
  background: #f6f6f6;
  border-radius: 40px;
}

.content .container {
  display: flex;
  flex-wrap: wrap;
}

.content h1, .content .about h4, .about .content h4 {
  padding: 15px 0;
  font-size: 44px;
  color: #6f8194;
}

.content-header {
  width: 100%;
  padding-bottom: 35px;
}

.content-nav {
  display: flex;
  align-items: center;
}

.content-category {
  margin-right: 40px;
}

.content-category a {
  color: #aaa39a;
}

.content .review-count {
  margin-left: 20px;
  font-size: 16px;
}

.content .review-count a {
  color: #aaa39a;
}

.primary {
  position: relative;
  width: 100%;
  max-width: 690px;
}

.primary-img {
  padding: 10px 30px 30px;
  background: #e8decf;
  border-radius: 30px;
}

.secondary {
  width: 100%;
  max-width: 510px;
  padding-left: 50px;
}

.secondary > * {
  padding: 15px 0;
}

.secondary-info p {
  margin-bottom: 10px;
}

.bradcrumbs {
  font-size: 16px;
  color: #aaa39a;
}

.bradcrumbs span:not(:last-child) {
  position: relative;
  padding-right: 5px;
}

.bradcrumbs span:not(:last-child):after {
  content: '\203A';
  padding-left: 10px;
}

.bradcrumbs a {
  color: #aaa39a;
}

.attributes {
  width: 100%;
}

.attributes li {
  position: relative;
  padding-left: 24px;
}

.attributes li:before {
  content: '';
  width: 19px;
  height: 16px;
  position: absolute;
  left: 0;
  top: 50%;
  background: url("../img/icon/icon-check.png") no-repeat center center/contain;
  transform: translateY(-50%);
}

.reviews {
  width: 100%;
  margin-bottom: 50px;
}

.comment {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin: 0 auto 30px;
  padding: 20px 50px;
  background: #f6f6f6;
  border-radius: 30px;
}

.comment-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 20%;
  max-width: 250px;
  padding-right: 70px;
  color: #aaa39a;
}

.comment-info .name {
  width: 100%;
  font-size: 20px;
  padding-bottom: 10px;
}

.comment-text {
  width: 80%;
  max-width: 1000px;
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(197, 170, 131, 0.7);
  }
  70% {
    box-shadow: 0 0 0 15px rgba(197, 170, 131, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(197, 170, 131, 0);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(197, 170, 131, 0.7);
  }
  70% {
    box-shadow: 0 0 0 15px rgba(197, 170, 131, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(197, 170, 131, 0);
  }
}
