/*
	
	Author: Dmitriy Gormash
	Github: https://github.com/kanonir14
	Twitter: @kanonir
	
*/
* {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
nav, output, ruby, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html, body {
  width: 100%;
  background: transparent;
  font-family: "HelveticaNeueCyr-Roman", sans-serif;
  font-size: 16px;
  color: #000;
  line-height: 1.3;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background: none;
  border: 0px;
  cursor: pointer;
}

img, button, a, input, textarea {
  outline: none;
}

input::-webkit-input-placeholder {
  color: #000;
}

input::-moz-placeholder {
  color: #000;
}

/* Firefox 19+ */
input:-moz-placeholder {
  color: #000;
}

/* Firefox 18- */
input:-ms-input-placeholder {
  color: #000;
}

strong {
  font-weight: bold;
}

.container {
  width: 1350px;
  height: auto;
  overflow: hidden;
  margin: auto;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr-Roman";
  src: url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr-Medium";
  src: url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr-Bold";
  src: url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr-Light";
  src: url("../fonts/HelveticaNeueCyr-Light.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

h1 {
  margin: auto;
  padding: 90px 0;
  width: 100%;
  max-width: 720px;
  font-size: 50px;
  color: #fff;
  text-transform: uppercase;
}

h1 span {
  display: block;
  font-family: "HelveticaNeueCyr-Medium", sans-serif;
  font-size: 65px;
}

h2 {
  position: relative;
  margin-bottom: 25px;
  font-family: "HelveticaNeueCyr-Light", sans-serif;
  font-size: 37px;
  text-align: center;
  text-transform: uppercase;
}

h2:after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 100%;
  max-width: 200px;
  height: 2px;
  background: #e7342c;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

h2 span {
  display: block;
  font-family: "HelveticaNeueCyr-Medium", sans-serif;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.color-red {
  color: #e7342c;
}

.bold {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 80px;
}

.navigation {
  position: relative;
  width: 100%;
  background: #e7342c;
}

.navigation:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 33vw;
  background: #363636;
}

.navigation .row {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo {
  width: 100%;
  max-width: 25%;
  z-index: 2;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav li a {
  display: inline-block;
  padding: 30px 12px;
  font-style: 14px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.nav li a:hover {
  background: #d22018;
}

.header {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 760px;
  background: url("../img/header.jpg") no-repeat center top/cover;
  text-align: center;
}

.header:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 60%;
  width: 100%;
  height: 424px;
  background: url("../img/quotes.png") no-repeat center center/contain;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.counts {
  position: relative;
  margin-top: -100px;
  padding: 20px 0 50px;
  z-index: 4;
}

.counts .row {
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.counts .item {
  width: 100%;
  max-width: 170px;
  margin: 0 15px;
  font-family: "HelveticaNeueCyr-Light", sans-serif;
  font-size: 21px;
  text-transform: uppercase;
  text-align: center;
}

.counts .item p {
  margin-top: -20px;
}

.counts .item:not(:last-child) span {
  display: block;
}

.services {
  padding: 0 0 30px;
}

.services .row {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.services .item {
  position: relative;
  width: 100%;
  max-width: calc(25% - 2rem);
  height: 315px;
  margin: 1rem;
  overflow: hidden;
}

.services .item:hover img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.services .item__info {
  position: absolute;
  left: 50%;
  top: 50%;
  font-family: "HelveticaNeueCyr-Light", sans-serif;
  font-size: 21px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.services .item__info span {
  font-family: "HelveticaNeueCyr-Bold", sans-serif;
  font-size: 34px;
}

.services img {
  position: relative;
  height: 100%;
  -webkit-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.about {
  position: relative;
  padding: 20px 0 100px;
}

.about .container {
  overflow: inherit;
}

.about h2 {
  text-align: left;
}

.about h2 span {
  display: inline-block;
  font-size: 60px;
}

.about h2:after {
  left: 0;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.about__img {
  width: 1000px;
  position: absolute;
  left: 49%;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}

.about__info {
  position: relative;
  width: 100%;
  max-width: 680px;
  margin-left: auto;
  z-index: 4;
}

.about__text {
  position: relative;
  left: -100px;
  width: calc(100% + 100px);
  margin-bottom: 30px;
  padding: 50px;
  line-height: 1.5;
  background: #fff;
  -webkit-box-shadow: 13px 13px 14px rgba(0, 0, 0, 0.27);
  box-shadow: 13px 13px 14px rgba(0, 0, 0, 0.27);
}

.about__text p {
  margin-bottom: 15px;
}

.about .about__contacts li {
  padding-bottom: 20px;
}

.about a {
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
}

.about i {
  position: relative;
  top: 22px;
  display: inline-block;
  width: 53px;
  height: 53px;
  margin-right: 5px;
  border-radius: 50%;
  background: #e7342c;
}

.about .icon-mail:after {
  content: '';
  position: absolute;
  background: url("../img/mail-icon.png") no-repeat center center/contain;
  width: 26px;
  height: 20px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.about .icon-vacancy:after {
  content: '';
  position: absolute;
  background: url("../img/vacancy-icon.png") no-repeat center center/contain;
  width: 26px;
  height: 31px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
