@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSansRegular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PT Sans Bold";
  src: url("../fonts/PTSansBold.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PT Sans Italic";
  src: url("../fonts/PTSansItalic.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}