@keyframes pulse {
	0% {
		// transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(197, 170, 131, 0.7);
	}
	
	70% {
		// transform: scale(1);
		box-shadow: 0 0 0 15px rgba(197, 170, 131, 0);
	}
	
	100% {
		// transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(197, 170, 131, 0);
	}
}
