@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSansRegular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Century";
  src: url("../fonts/CenturyGothic.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Century";
  src: url("../fonts/CenturyGothic-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}


@font-face {
  font-family: "GolosText";
  src: url("../fonts/GolosText-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "GolosText";
  src: url("../fonts/GolosText-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "GolosText";
  src: url("../fonts/GolosText-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "GolosText";
  src: url("../fonts/GolosText-Black.woff2") format("woff2");
  font-style: normal;
  font-weight: 900;
}