* {
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
nav, output, ruby, section,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
html, body{
    width: 100%;
	font-family: $default-font;
	font-weight: normal;
	font-size: 18px;
	color: $default-blue;
	line-height: 1.4;
	background: $accent;
}
ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button{
	background: none;
	border: 0px;
	cursor: pointer;
}

img, button, a, input, textarea{
	outline: none;
	border: 0;
	box-shadow: 0 0 0 rgba(0,0,0,0);
}

button::-moz-focus-inner {
  border: 0;
}

img{
	user-select: none;
}

input{
	font-family: $default-font;
}
a{
	text-decoration: none;

	&:hover{
		text-decoration: underline;
	}
}

input::-webkit-input-placeholder {color:#000;}
input::-moz-placeholder          {color:#000;}/* Firefox 19+ */
input:-moz-placeholder           {color:#000;}/* Firefox 18- */
input:-ms-input-placeholder      {color:#000;}


strong{
	font-weight: bold;
}

.primary li{
	list-style: none;
}


.container{
	width: 100%;
	max-width: 1350px;
	height: auto;
	overflow: hidden;
	margin: auto;
}
